[2016-12-07 18:53] skellock opened #3 "Loading extensions dynamically"
We need a way to load the extensions dynamically from plugins.  The sample way we do it with `commands`, but this time from an `extensions` directory.

[2016-12-07 18:53] skellock opened #4 "Use templates as the plugin's root for generating"
Right now when you `generate` files, the root is the plugin's root.  Let's change this to be the `templates` sub directory.

[2016-12-07 18:56] skellock opened #5 "Switch back to TOML for configuration"
I'd like to be language independent, so let's get out of the `js` wheelhouse for configuration.

[2016-12-07 19:02] skellock opened #6 "Support argument naming"
@gantman pointed out that [commander](https://github.com/tj/commander.js) has a dsl that might work well for us.

We could use that in the front matter for the *.js files by including it:

`@command name <thing> [otherThing]`

Also, lets promote & clobber onto the `context.parameters` object the things the user names (e.g. `thing` and `otherThing`).

[2016-12-07 19:05] skellock opened #7 "Sporkable templates"
Allow templates to be **pseudo-forked**.

Provide some kind of directory we can copy the `*.njk` files to.  When we then run a `generate()` call, if the template has been overridden, we'll call that one instead.

This configuration will be handled in the app's configuration file.

[2016-12-07 19:07] skellock opened #8 "Prefix the @ directives in plugins"
I just donned on me that we might conflicting with other jsdoc things or whatever.

Let's prefix ours with `@gg-name`, etc

[2016-12-07 19:13] skellock opened #9 "Default namespace"
Allow a command line option to pass to the CLI which specifies a default namespace.

`gluegun --gluegun-namespace ignite`

This namespace then gets priority over all others.  In fact, it will be checked even before the other namespace names.

This allows people to brand their own cli like:  `alias ignite="gluegun --gluegun-namespace ignite"` or even in their `package.json` `bin` scripts.

[2016-12-07 19:15] skellock opened #10 "Use apisauce for http"
@gantman convinced me to use [apisauce](https://github.com/skellock/apisauce) over axios because of the response type opinions.  I agree i guess.

This will be the extension that lives under `context.http`.

[2016-12-07 19:20] skellock opened #11 "Update CLI banner"
It still says 'staple gun'.

[2016-12-07 19:22] skellock opened #12 "Add string extension"
I'd like to see a string extension.  These would be the things that are automatically placed on the filters list in `nunjucks`.  Let's grow this slowly and start with the cases that we already put into the `generate` extension.

They're useful to many people, so let's hang them on context.

[2016-12-07 19:28] skellock opened #13 "Create a "People Using Gluegun" list"
@gantman suggested this.

[2016-12-07 19:29] skellock opened #14 "Create a logo"

[2016-12-07 19:29] skellock opened #15 "Add a twitter account"

[2016-12-07 19:29] skellock opened #16 "Setup Slack Or Gitter"

[2016-12-07 19:31] skellock opened #17 "Add docs for using gluegun"

[2016-12-07 19:31] skellock opened #18 "Add tutorial for creating plugins"

[2016-12-07 19:32] skellock opened #19 "Add tutorial for creating extensions"

[2016-12-07 19:33] skellock opened #20 "Add docs for installing gluegun"

[2016-12-07 19:33] skellock opened #21 "Hookup gitbook for documentation."

[2016-12-07 19:35] skellock opened #22 "Add an extension for prompt"
And put inquirer in it.

[2016-12-07 19:36] skellock opened #23 "Add a filesystem extension"
And put `fs-jetpack` in it.

[2016-12-07 19:37] skellock opened #24 "Add a system extension"
And put a way to execute async and capture output in it.

[2016-12-07 19:37] skellock opened #25 "Add clipboard support to the system extension"

[2016-12-07 19:50] skellock opened #26 "gluegun-cli for bootstrapping new gluegun-based projects"

[2016-12-07 22:37] #5 closed, assigned to skellock

[2016-12-07 23:14] #23 closed, assigned to skellock

[2016-12-07 23:49] skellock opened #29 "Create a contributing document"
### globals
[code]

### monorepo setup
[code]

### gluegun setup

[code]

### adding a feature

[code]

[2016-12-08 00:27] #29 closed, assigned to skellock

[2016-12-08 02:40] #13 closed, assigned to GantMan

[2016-12-08 02:41] #3 closed, assigned to skellock

[2016-12-08 09:29] #24 closed, assigned to skellock

[2016-12-08 10:16] #22 closed, assigned to skellock

[2016-12-08 10:43] #10 closed, assigned to skellock

[2016-12-08 10:54] #4 closed, assigned to skellock

[2016-12-08 11:36] #12 closed, assigned to skellock

[2016-12-08 16:36] skellock opened #44 "Make askToOverwrite more generic"
Let's make this `askToOverwrite` prompt be more like `askYesOrNo` or something like that.

We can pass in `{ message: 'something', yes: 'Yup', no: 'Newp' }` or something like that.

@GantMan helped me clarify what I was after.  🌮

[2016-12-08 16:38] skellock opened #45 "Allow command & extension meta tags inside /** */ comments"
Right now the identification of the meta tags are looking for `// @`.  That's misleading because of JavaScript's other style of commenting.

Let's support both.

[2016-12-08 16:39] skellock opened #46 "Refactor command & extension loading"
These files are pretty much copy & paste of each other:

* https://github.com/skellock/gluegun/blob/master/packages/gluegun/src/loaders/command-loader.js
* https://github.com/skellock/gluegun/blob/master/packages/gluegun/src/loaders/extension-loader.js

Do the right thing.

[2016-12-08 16:50] skellock opened #47 "Add OS path separator and OS newline to filesystem extension"
These two would be great additions to our filesystem extension:

`context.filesystem.eol` = `os.EOL` is https://nodejs.org/api/os.html#os_os_eol

`context.filesystem.separator` = `path.sep` is https://nodejs.org/api/path.html#path_path_sep

[2016-12-08 17:32] #8 closed, assigned to skellock

[2016-12-08 18:56] #9 closed, assigned to skellock

[2016-12-09 13:19] #47 closed, assigned to skellock

[2016-12-09 18:17] #44 closed, assigned to skellock

[2016-12-09 18:22] skellock opened #52 "Allow a silent mode config setting"
Inside the app `.toml` file, let's add:

[code]

When true (default is false), it will suppress all print commands triggered through the print extension.

[2016-12-09 18:30] skellock opened #53 "Branding Header"
For printing the header in the CLI, if we're in brand mode, we will do the first of this list:

* execute the default function in `brand/header.js`
* render `brand/header.txt` as straight up text
* render nothing

We only show the gluegun header if we're not in branded mode.

[2016-12-09 21:33] #52 closed, assigned to nobody

[2016-12-09 21:49] #25 closed, assigned to skellock

[2016-12-09 22:50] #53 closed, assigned to skellock

[2016-12-10 01:33] #45 closed, assigned to skellock

[2016-12-10 04:52] #7 closed, assigned to skellock

[2016-12-10 04:58] skellock opened #60 "Support default commands"
Currently a command can't live on it's own.  It needs to live under a namespace.

With `spork`, i made that name space.  And since namespaces aren't commands, you can't just type it.  So I created `default` as the command.

So now it's:

`gluegun spork default`

Which is lame.

I want:

`gluegun spork`.

So we need to build the concept of a default command.  `default.js` would be fine, but I think

[2016-12-10 05:04] skellock opened #61 "Restricted plugin namespaces"
Prevent these namespaces from being defined in 3rd party plugins:

* ~spork~
* project
* ~gluegun~
* ~default~

If we see those namespaces, we should just go into a `badnamespace` error state on the plugin.

[2016-12-10 05:06] skellock opened #62 "Add a debug flag"
When a plugin, extension, or command is in a bad state, there's no way of knowing.  Let's provide a `--debug` flag people can run which will emit the errors somehow.

[2016-12-10 15:28] #61 closed, assigned to skellock

[2016-12-10 15:31] skellock opened #65 "Clean Runtime and CLI"
These are the gateway to the system.  And they've become a bit messy now.  Let's clean these up so people wanting to hack at the core aren't confused.

[2016-12-10 18:27] #62 closed, assigned to skellock

[2016-12-10 19:47] skellock opened #68 "Support a $HOME/.<brand> directory"
Let's add another few paths to the mix.

`~/.gluegun/plugins/*`

[2016-12-10 19:58] skellock opened #69 "Selectively show help depending on user input"
When invoking `gluegun`, it currently shows all commands.  This could quickly spiral.  Let's switch to this:

[code]

[code]

[2016-12-10 21:14] #68 closed, assigned to skellock

[2016-12-11 02:33] #69 closed, assigned to skellock

[2016-12-11 15:47] skellock opened #77 "Continuous Integration"
Will need to setup CI to protect this code base from myself.

I've only used semaphore, but I'm open to anything really.

[2016-12-11 15:49] skellock opened #78 "Coveralls"
Let's setup coveralls.  I know my tests coverage is slipping, but having an automated score will motivate me.

[2016-12-11 16:48] #11 closed, assigned to skellock

[2016-12-11 17:28] skellock opened #81 "Consider renaming namespace to plugin name."
Plugins have unique names.  I call these namespaces.  But there's nothing magical or special about them.  I'm thinking for simplicity sake, change the name from "namespace" to "name".

Namespace seems to imply there's stuff to learn.  But there isn't.  It's just a name.

Then the description of the command line goes:

`<cliname> <pluginname> <commandname>`

[2016-12-11 17:31] skellock opened #82 "Add testing to the CLI."
There's no tests in the CLI.  It kinda just grew and grew until it started doing important things.  Now it needs tests.

[2016-12-13 17:35] #65 closed, assigned to skellock

[2016-12-14 02:08] #82 closed, assigned to skellock

[2016-12-14 02:08] #81 closed, assigned to nobody

[2016-12-14 05:40] skellock commented on #20
Nothing to install just yet.

[2016-12-14 05:40] #20 closed

[2016-12-14 05:41] skellock commented on #16
Maybe a channel in Infinite Red?  I'm not sure how that works.  @twerth might have some insight into this.  I'd be ok with slumming it on gitter too.  Just don't make me use anyroom.

[2016-12-14 05:43] skellock commented on #15
Going to leave to @GantMan to decide.

[2016-12-14 05:44] skellock commented on #14
Going to hand off to @justinhuskey's team.

[2016-12-14 05:45] justinhuskey commented on #14
Thanks man. We've got you covered. More to come @skellock and @GantMan.

[2016-12-14 08:33] skellock opened #99 "Open up the wtf script for debugging"
The printWtf script should be opened up so we can see which plugins & commands & extensions aren't loading and why.

[2016-12-14 12:54] #99 closed

[2016-12-14 12:55] skellock opened #101 "Create docs for gluegun module exports"

[2016-12-14 16:16] skellock opened #103 "Repair default plugin"
This seems to be broken after a batch of refactoring.  The tests didn't seem to catch this.

[2016-12-14 19:16] #103 closed

[2016-12-14 21:11] twerth commented on #16
I prefer slack TBH.

[2016-12-15 13:29] skellock opened #105 "Load plugin with matching support."
Currently we have

[code]

But what we could use this as well:

[code]

[2016-12-15 14:14] #105 closed

[2016-12-15 16:40] skellock opened #107 "Add a way to opt-in to exceptions."
Currently we capture errors, tuck them away, and never show them.

https://github.com/infinitered/gluegun/blob/master/packages/gluegun/src/domain/runtime.js#L141

Instead of forcing CLI's to print these with:

[code]

Let's add a new builder function called `.rethrowErrorsWhenRunning(true)` that people can opt-into when developing.

[2016-12-15 16:42] GantMan commented on #107
don't forget `--dev`

[2016-12-15 16:44] skellock commented on #107
That's up to CLI folk to decide, imho.

[2016-12-16 14:58] skellock opened #119 "Fix context.prompt.confirm"
This was unhinged when I switched from `inquirer` to `enquirer`.

Let's put a version back that works.

[2016-12-16 15:07] skellock commented on #119
Fixed by #120

[2016-12-16 15:07] #119 closed

[2016-12-16 21:41] twerth commented on #16
@jamonholmgren ^ thoughts

[2016-12-17 16:36] skellock opened #122 "Hidden plugins"
We would like support for hidden plugins & commands.

This is useful if CLIs want to have their own plugins in the gluegun plugin format, but prevent the end user from having to know of them.

You would still be able to call these from `runtime.run({})`.

I recommend adding an object as a 2nd parameter to:

[code]

Problem is, `loadAll` already has an optional 2nd parameter for matching sub-direct

[2016-12-17 16:36] skellock commented on #122
See https://github.com/infinitered/ignite/issues/548 for more info.

[2016-12-18 16:36] GantMan opened #123 "Default commands have unpruned params"
running `ignite add ui` gives `parameters.first` the value of "default"
![image](https://cloud.githubusercontent.com/assets/997157/21294872/899b3d42-c50d-11e6-997b-ba55f4d73131.png)

This looks like some leakage.

👙 Bikini Bonus:
Would be helpful to have `parameters.last` - which is how I plan on fixing this for futureproof ways.  But I'm not a fan of that method.

[2016-12-18 22:30] GantMan opened #124 "DOC! You're WRONG DOC!"
https://github.com/infinitered/gluegun/blob/master/docs/context-api.md
![image](https://cloud.githubusercontent.com/assets/997157/21297103/3393e962-c53f-11e6-9b8f-f8d494b91de8.png)
not inquirer anymore

![doc](https://media.giphy.com/media/bRI5pTBb5t3So/giphy.gif)

[2016-12-20 14:55] skellock commented on #123
Ya, I agree, something seems off about parameters.

`parameters` gets rewritten because i'm trying to target the plugin/command.

I'm up for changing this.

[2016-12-21 13:11] skellock commented on #123
I think what's bothering me about this is its confusing arguments (things that exist on the command line) with arguments (things that get fed into a command).  I think we can probably clear this up with a conversation.

[2016-12-26 17:51] GantMan opened #125 "context.template.generate - no file found is completely confusing"
context.template.generate

https://github.com/infinitered/gluegun/blob/master/packages/gluegun/src/core-extensions/template-extension.js

Gives a replace error if the file was not found - very unfriendly to identify the issue :(

![image](https://cloud.githubusercontent.com/assets/997157/21485018/e40ecdd4-cb61-11e6-939d-428239b2ce67.png)

[2016-12-26 17:52] GantMan opened #126 "context.template.generate - for white label"
trying to use `context.template.generate` looks for a template folder in the whitelabel's plugin folder, so this cannot transfer to usability to any wrapping CLI

[2016-12-26 18:02] skellock commented on #125
We can add a check here to see if the file exists.

https://github.com/infinitered/gluegun/blob/master/packages/gluegun/src/core-extensions/template-extension.js#L41

[2016-12-26 18:08] skellock commented on #126
It's stored in the `templates` directory.  Just like extensions are in `extensions` and commands are in `commands`.

We can change this if you want something different:

https://github.com/infinitered/gluegun/blob/master/packages/gluegun/src/core-extensions/template-extension.js#L41

[2016-12-26 18:12] GantMan commented on #126
the issue is ignite can't use this functionality for a plugin, because it looks for the `ignite/templates` which is not going to have the correct template.   I want `some-ignite-plugin/templates` to be used.  Since I want to wrap this functionality, not rewrite it.

[2016-12-26 18:22] skellock commented on #126
![image](https://cloud.githubusercontent.com/assets/68273/21485249/3a722c0a-cb6e-11e6-9b4c-f47b19c60618.png)

It should be reading from the plugin's directory.

It's not?

[2016-12-26 18:52] GantMan commented on #126
the plugin is ignite.

[2016-12-26 18:54] skellock commented on #126
We should add a way to configure the known template locations.

[2016-12-26 18:54] GantMan commented on #126
I want to use this inside ignite here:
https://github.com/infinitered/ignite/blob/vector-icons/packages/ignite/src/plugins/default/extensions/ignite.js#L41-L42

[2017-01-02 19:05] #125 closed

[2017-01-02 19:14] #124 closed

[2017-01-02 19:16] #126 closed

[2017-01-02 20:36] skellock commented on #122
Implemented in #130

[2017-01-02 20:36] #122 closed

[2017-01-22 00:32] jamonholmgren opened #131 "Support --flags"
[code]

... doesn't seem to work. We'll need a way to support those flags.

[2017-01-22 00:37] jamonholmgren opened #132 "Support command aliases"
I'd like to do `ignite n *` as an alias for `ignite new *` ... need a way to support aliases.

[2017-01-22 01:23] skellock opened #133 "Spinner"
Bring in a spinner.

[2017-01-22 02:02] skellock commented on #131
The easy way to implement this is inside the cli of ignite.

A nice default would be `--version` will print the `package.json` `version`... and provide an override with this command in the builder.

[code]

[2017-01-22 02:39] skellock commented on #131
Don't forget that `--flags` [are supported](https://github.com/infinitered/gluegun/blob/master/docs/context-api.md#contextparametersoptions) inside commands.

[2017-01-24 22:41] jamonholmgren opened #134 "Provide a public API to tell if a command has an issue"
I'd love to have access to this function through GlueGun's API:

https://github.com/infinitered/gluegun/blob/4c549ef948a29dfedddca17c40899befec0f4988/packages/gluegun/src/cli/print-wtf.js#L30-L33

Any way we could make that happen?

[2017-01-24 23:55] skellock commented on #134
Yes.  Let's chat.

[2017-01-26 18:58] GantMan opened #135 "Tokens are passed around explicitly - Not great for adding/removing"
### Example:
Take a look at the repetition of a token.  Example `commandDescriptionToken` is repeated quite a bit.  See this:
https://github.com/infinitered/gluegun/search?utf8=%E2%9C%93&q=commandDescriptionToken

Adding new commands therefore takes quite a bit of a stroll along passing props/values.

[2017-02-03 02:24] skellock commented on #132
Done.

[2017-02-03 02:24] #132 closed

[2017-02-03 02:27] skellock commented on #101
These docs have been created.

[2017-02-03 02:27] #101 closed

[2017-02-10 15:28] skellock opened #139 "Support Node 6"
Plan A: Find out if there's a way to polyfill `async/await` somehow without having to commit to babel.

Plan B: Find a way to make babel tranform without dealing with plugin's .babelrc... :(

Plan C: Find a comfortable way to dev with compile-to-js languages.

[2017-02-10 15:35] skellock commented on #139
Research:

* https://gist.github.com/rauchg/8199de60db48026a6670620a1c33b700
* https://github.com/yortus/asyncawait

I'm not adverse to using `babel-node` if we can control the resolving order of `.babelrc`.

[2017-02-11 05:16] #133 closed

[2017-02-14 17:41] skellock opened #145 "Fix broken tests"
There's a few tests that are broken.

I have a branch on one of my computers with these fixed, so go find it and commit it.

![1jms1q](https://cloud.githubusercontent.com/assets/68273/22941253/c9bc9d94-f2b2-11e6-959a-b5db8abccf44.jpg)

[2017-02-21 21:20] skellock opened #148 "Expose the command list as data"
Currently printCommands both collects the displays the data.

https://github.com/infinitered/gluegun/blob/master/src/utils/cli/print-commands.js

Which sucks if someone wants to customize that list themselves.

Let's bust these apart and make the data available to DIY printing.

[2017-02-23 23:48] skellock commented on #16
We went slack.  And all is right in the world.

[2017-02-23 23:48] #16 closed

[2017-02-23 23:49] skellock commented on #15
Not sure we need a glue gun.  This is a utility library.

[2017-02-23 23:49] #15 closed

[2017-02-23 23:52] skellock commented on #139
Nah, that's a nogo.  Libraries that sit on top are welcome to polyfill.

Gluegun just needs async/await to be available.  It doesn't enforce it.  So bundlers can use it now!

[2017-02-23 23:52] #139 closed

[2017-02-23 23:55] skellock commented on #145
Good to go.

[2017-02-23 23:55] #145 closed

[2017-02-24 20:19] skellock opened #154 "Add lerna commands to package.json"
It'd be nice to have a few scripts added to package.json for lerna's `bootstrap`, `publish` and `clean`.

[2017-02-27 02:37] jamonholmgren commented on #123
If we do change this, maybe we should use a different property to stay backwards compatible? Maybe that's a horrible idea but I have `parameters.second` strewn all over my code.

[2017-02-28 04:48] skellock opened #155 "Patching Extension"
I think it's time for `context.patching` to be a thing.  @GantMan and @jamonholmgren both are using this and have various rounds of iterations in Ignite.

It's useful and I should beg them to add it.

[2017-02-28 07:24] jamonholmgren commented on #155
Correct. [This](https://github.com/infinitered/ignite/blob/d2c1842a67873758ed067a9b89f0a78ce0e1dc83/packages/ignite-cli/src/extensions/ignite/patchInFile.js#L3-L53) is a good place to start. API needs to be discussed though, there are a few things that should be ping-pong'd a bit before we land there.

[2017-02-28 07:25] jamonholmgren commented on #155
Actually, screw it, I'll do this.

[2017-03-02 21:06] jamonholmgren commented on #60
Agree, and FWIW I'd prefer `default.js`.

[2017-03-02 22:05] skellock opened #157 "3rd party extensions shouldn't blow up"
If there's a 3rd party extension that is invalid while setting up, let's survive that situation and capture the error gracefully and add it to the invalid list just like we do with plugins.

https://github.com/infinitered/gluegun/blob/master/packages/gluegun/src/domain/runtime.js#L147

@robinheinze found this the hard way. (related: https://github.com/infinitered/ignite/issues/814)

[2017-03-05 19:53] skellock opened #161 "Logging functionality"
It would be great to have file logging functionality.

[Winston](https://github.com/winstonjs/winston) seems popular.

Install it on as `logging` on the context.

[2017-03-06 13:47] skellock opened #162 "Use cross-spawn to support Windows"
Lots of problems using spawn on Windows.  Let's switch to `cross-spawn` but keep the same interface.

[2017-03-06 14:11] skellock commented on #162
Fixed by #164

[2017-03-06 14:11] #162 closed

[2017-03-06 21:15] skellock opened #167 "Spawn needs to be async"
Spawn can't run with `.sync` because it locks the main thread.  We'll need to spawn async and use callbacks to hook back when we're completed.

[2017-03-09 23:57] jamonholmgren commented on #155
Still planning to do this. Been out of town

[2017-03-12 11:58] skellock opened #174 "Use node-which"
The only reason we're using shell.js is for the `system.which` support.  Here's a replacement:

https://github.com/npm/node-which

[2017-03-14 10:43] #174 closed

[2017-03-17 16:40] #78 closed

[2017-03-17 16:41] skellock commented on #21
went with a different doc system.

[2017-03-17 16:41] #21 closed

[2017-03-17 16:41] skellock commented on #17
They're in place now.  Could use more content of course.

[2017-03-17 16:41] #17 closed

[2017-03-21 00:10] #167 closed

[2017-03-21 00:21] skellock commented on #77
This is done and on sempahore.

[2017-03-21 00:21] #77 closed

[2017-03-22 16:18] abrophy commented on #46
Dug down into this and you're absolutely write. With minor changes ,that don't effect anything outside of the plugin loader, all tests pass with command-loader serving as a complete replacement to extension-loader.

My question is: which name for the loader better describes the purpose it serves, or would you like to use another name entirely for the loader that serves both purposes?

[2017-03-22 16:22] skellock commented on #46
Good question.

What are commands & extensions known as?  They're both already horribly generically named already.  haha.

I don't really want to invent a new term either.

Maybe something like `loadable.js`?

I dunno, what do you think?

[2017-03-22 16:24] skellock commented on #46
BTW:  don't feel like you need to do maintenance stuff like this.  Usually people like doing features cuz that's fun!

Thank you btw for your contributions!  This library is really generic and it's nice to see people getting some value out of it.

[2017-03-22 22:50] abrophy commented on #46
Was just tackling some low hanging fruit as a warm up today.

I'm glad to be helpful, and hope to keep ramping up and taking on meatier stuff!

[2017-04-03 15:17] skellock commented on #60
Bumping again.  @GantMan needs this for `ignite-source-map`.

I don't know why I'm bumping.

[2017-04-06 13:14] #46 closed

[2017-04-15 00:11] skellock opened #193 "Run Advanced"
The whole spawning another process is pretty messed up right now.

Let's rein this in a bit.

We have `system.run` who's purpose is to run a command with no params and returns `stdout`.  I'd like to have `system.runAdvanced` (horrible name, open to others) to be the advanced version of `run`.

It would return back an object structure with things like `exitCode` and other things.  Maybe exactly how

[2017-04-15 17:28] skellock opened #194 "Expose extensions in module"
In a few places, it would have been nice to have access to the extensions in gluegun without having to go through the plugin system.  Just static functions.

Let's make these available.

[2017-04-15 18:06] #194 closed

[2017-04-25 07:17] jamonholmgren opened #196 "Post-load hook to support Ignite json config"
Per [this comment](https://github.com/infinitered/ignite/commit/e539b12b9cb4e986ed6ad84d5047baf86e6457ff#diff-9b650c036a56768626632ea00c79b912R30), Gluegun needs to be updated to provide a post-load hook so we don't need a toml file in our Ignite plugins. This issue is set to track progress on that.

[2017-04-25 11:11] skellock commented on #196
Thanks.  Forgot about this entirely.

Currently we are only [loading toml](https://github.com/infinitered/gluegun/blob/master/packages/gluegun/src/loaders/toml-plugin-loader.js#L99). We could also try loading a similar json file from the same place.

A shallow merge of the two into a config object would do just fine because I doubt you'd have both.

Then rename the file to plugin-loader.

[2017-05-05 12:34] skellock opened #197 "Add a stopwatch"
This is something that's used frequently.

How about `context.system.startTimer()`?  We can [add it here](https://github.com/infinitered/gluegun/blob/master/packages/gluegun/src/core-extensions/system-extension.js#L115).

Usage:

[code]

I've done something [like this before])(https://github.com/infinitered/reactotron/blob/master/packages/reactotron-core-client/src/stopwatch.js).  Let's harvest th

[2017-05-17 18:34] jamonholmgren commented on #155
Addition to patching extension:

[code]

This will detect the file extension and if it's json, provides an object, otherwise provides a string. Then you return that object or string and it'll get written to disk.

[2017-05-17 18:37] skellock commented on #155
Love it.

Same thing with `ramda` lovin:

[code]

[2017-05-19 07:03] jamonholmgren commented on #155
Made some progress on this tonight, @skellock .

https://github.com/infinitered/gluegun/commit/09b64d59a4982aee09eef71811828318a3a127f0

Tests pass.

[2017-05-23 12:52] #155 closed

[2017-06-19 02:32] skellock opened #204 "Support TypeScript via ts-node"
I'm ruined. I can't go back to JavaScript now.

Let's make this project work with [ts-node](https://github.com/TypeStrong/ts-node) seemlessly and optionally.

[2017-08-18 13:19] skellock commented on #204
Good to go with #206 .

`ts-node` works great!

[2017-08-18 13:19] #204 closed

[2017-08-31 16:07] jamonholmgren commented on #204
w00t!

[2017-09-07 15:20] GantMan commented on #60
+1

[2017-09-11 02:55] GantMan commented on #14
This should be closed... as gluegun should not have a logo.

[2017-09-11 03:06] skellock commented on #14
![image](https://user-images.githubusercontent.com/68273/30256979-a3214bbc-967c-11e7-96f7-f2e56e23af3b.png)

[2017-09-11 03:06] #14 closed

[2017-09-11 18:46] GantMan opened #207 "Switch out ascii-table"
Looks like there's a better table lib that would handle colors:

https://github.com/gajus/table

[2017-09-11 19:41] skellock commented on #207
I'm using [cli-table2](https://github.com/jamestalmage/cli-table2).  Works well.  At a glance, the features seem similar.  Word wrapping, color stripping, and alignment is what I was looking for.

Have you used `table`?  How is it?  Any problems?

[2017-09-11 21:22] GantMan commented on #207
have not used it, but the streaming feature looks badass

[2017-09-16 21:38] skellock commented on #207
I saw the gif, but I must be missing something about the streaming.

Lemme know how it goes if you end up using it.  If it's great, maybe you'd be up for making a plugin.

[2017-09-16 21:42] skellock opened #208 "Missing static spinner export"
https://github.com/infinitered/gluegun/blob/master/packages/gluegun/src/index.js#L36

I didn't export the `print` extension like the others, so I'm missing out on the spinner, sadly.

A non-breaking change to repair this would be to export the spinner manually?  Or maybe take a closer look at the interfaces between the `print` extension and the `utils/print`.

It'd be nice to access it like how we

[2017-09-16 21:46] skellock opened #209 "Add TypeScript typings"
This would make me happy in the pants.

We don't have to go full-on, just the basics.

I suspect `fs-jetpack` is where things would get a bit suspect.  They don't have `typings`.  I'd be cool with using `any` for the parameters for now though.  Would be a great first step.

[2017-09-17 16:07] skellock opened #211 "Remove clipboard from core"
It's way too specific.  My bad.

`gluegun-clipboard` is better.

[2017-09-18 04:19] #209 closed

[2017-09-26 04:29] jamonholmgren opened #214 "Gluegun should check dependencies upon require"
Rather than requiring the CLI author to check Gluegun's dependencies (currently node 7.6+), we should run those sanity checks internally.

Additional sanity checks can be run in the CLI's entry point.

[2017-09-26 09:02] #60 closed

[2017-09-26 23:03] #107 closed

[2017-09-26 23:07] #214 closed

[2017-09-27 02:37] #211 closed

[2017-09-30 12:39] iMagdy opened #226 "Support for Node LTS"
Why pinning `isNewEnough` to a version that's equal to or greater than `7.6.0`?

Many people use the latest stable LTS version of node in production, currently `6.11.3`.

What about?

1. [GET](https://nodejs.org/dist/) the latest LTS version, and then use `>=` against it.
2. [Hardcode](https://github.com/infinitered/gluegun/blob/master/packages/gluegun/sniff.js#L7) `6.11.3` instead of `7.6.0` and

[2017-09-30 12:56] skellock commented on #226
It's because we use `async/await` and I didn't want to make a compilation step such as babel/typescript a requirement.

I like the idea of supporting LTS though.  Do you know of a solution to deal with async/await without converting everything to promises?

[2017-09-30 13:25] iMagdy commented on #226
Not sure if promise-less solution & I think converting everything into promises is a major refactoring.

It's totally fine in my opinion to keep the codebase as is, use Babel, and add a build step. It'll only be necessary during development.

[2017-10-01 04:15] jamonholmgren commented on #226
I understand the desire to support 6.11, but I am very loath to add a build step into this process. It's really easy to work on Gluegun right now, since you don't need anything running in the terminal to make changes and test them. Adding a build step & watcher adds more friction than I'm comfortable with.

[2017-10-01 10:12] skellock commented on #226
We could use typescript to down level it at publish time. Then store that version as `gluegun/compat` . This would be invisible to the current dev experience. It would also be opt-in by people.

My preference would be typescript to achieve this, not Babel though.

[2017-10-01 10:15] skellock commented on #226
And then up the version requirement of the current gluegun from 7.6 to 8.6. 😈

Actually I’m not even joking.

8.6 gives property spreads.

[2017-10-01 10:19] skellock commented on #157
This has been addressed for 2.0.

[2017-10-01 10:19] #157 closed

[2017-10-01 10:20] skellock commented on #154
Let a supports these now.

[2017-10-01 10:20] #154 closed

[2017-10-01 10:21] skellock commented on #6
This has been totally reworked in 2.0.

[2017-10-01 10:21] #6 closed

[2017-10-01 10:22] skellock commented on #135
Tokens are gone in 2.0.

[2017-10-01 10:22] #135 closed

[2017-10-01 10:23] skellock commented on #134
Handled by bubbling up the error in 2.0.  👍

[2017-10-01 10:23] #134 closed

[2017-10-01 10:25] skellock opened #229 "Support json config"
Currently the built in config system only supports `toml`. Let’s add `json` as 1st class.

[2017-10-01 10:28] skellock commented on #196
Replaced by #229

[2017-10-01 10:28] #196 closed

[2017-10-01 10:30] skellock commented on #161
I like pino but that’s for structured logging.  Which would be preferable imho. Just need to add a viewer command to humanize it.

[2017-10-01 10:32] skellock commented on #131
We support this the flags but not printing the version number. That’s up to the host cli to do.

[2017-10-01 10:32] #131 closed

[2017-10-01 10:34] skellock commented on #123
This has completely reworked in 2.0

[2017-10-01 10:34] #123 closed

[2017-10-01 14:29] Faultless commented on #229
Hello. Is this related to the `toml.parse` part in `Builder.js`?
I haven't dived much into the code to check how the config file is being parsed and used.

[2017-10-01 16:46] #197 closed

[2017-10-01 18:53] skellock commented on #229
Ya.  It starts [there](https://github.com/infinitered/gluegun/blob/master/packages/gluegun/src/domain/builder.js#L35).

It's also [here as well](https://github.com/infinitered/gluegun/blob/master/packages/gluegun/src/loaders/toml-plugin-loader.js#L83).

The idea is, after everything is up & running, you have 1 object, living on the context object, called `config` which contains:

* defaults from a

[2017-10-01 18:56] skellock commented on #229
Also, we'll probably make `.json` apply to loading plugins as well.  Which means `toml-plugin-loader.js` is likely getting a change too.

[2017-10-04 05:23] GantMan opened #235 "Fix relative plugin loads"
I'm using gluegun 2.0 beta  and having some issues with relative paths on plugins.

### This will work (absolute path to plugin)
[code]

### This will fail (relative path)
[code]

This will be a bigger problem when your CLI tries to load its plugins from a common relative path like  the `node_modules` folder:
[code]

The error I get seems to do fine at finding the plugin... but when it passes it d

[2017-10-04 15:20] #235 closed

[2017-10-04 17:49] jamonholmgren commented on #226
TypeScript gives enough advantages that it would be more likely to be worth the build step. I'm on board with this.

[2017-10-04 21:00] jamonholmgren commented on #161
I love the idea of structured logging. It's 2017, why are we still logging strings...

[2017-10-04 22:49] skellock commented on #161
hash tag fact

[2017-10-08 17:10] GantMan opened #243 "Provide Mount-points for common CLI - Help, Version etc."
In gluegun 2.0 let's handle the common CLI options in a classy way.

## 98% of CLIs
If you want the built-in support, you can just use `commonCommands` function.
![image](https://user-images.githubusercontent.com/997157/31318887-c99239f2-ac1e-11e7-978f-3da331fb8c0c.png)
Maybe even more succinct as `.commonCommands(['help', 'version'])`
These will stop the copy-pasta mess which is mandatory, but no

[2017-10-10 15:13] GantMan commented on #226
Looks like we'll be getting LTS this month!!!!
![image](https://user-images.githubusercontent.com/997157/31394346-b250926c-ada3-11e7-9257-09b91db2196a.png)

[2017-10-10 16:36] skellock commented on #226
This is great news!  I'm going to close up on this ticket since doing nothing gets us this for free shortly.

[2017-10-10 16:36] #226 closed

[2017-10-16 23:02] skellock opened #247 "Unable to put tests in commands folder"
Using `gluegun@2.0.0-alpha.2`, I'm unable to keep this file: `commands/tests/list-stacks.test.ts`.  It is trying to load it as a command.

Here's my runtime config.

[code]

It probably has to do with `LOAD_OPTIONS`.  I'm using `ts-node` and passing in non-standard a `commandFilePattern`.

[2017-10-16 23:06] skellock commented on #247
Here's the issue:

https://github.com/infinitered/gluegun/blob/1cf8014eff543d8996f41a09b72d8f9829576242/packages/gluegun/src/loaders/toml-plugin-loader.js#L59

It'd be nice to remove that opinion and override that.

[2017-10-16 23:12] skellock opened #248 "Allow plugin directories to be optional"
Using `gluegun@2.0.0-alpha.2`, I have this in my runtime config:

[code]

But I want that to be optional as it may not exist.

Here's the error it spits out:

[code]

For `src` I can see why it's required, but for `plugin` and `plugins`, it should be optional.

[2017-10-17 00:01] skellock commented on #248
I think we need something before this check:

https://github.com/infinitered/gluegun/blob/1cf8014eff543d8996f41a09b72d8f9829576242/packages/gluegun/src/loaders/toml-plugin-loader.js#L38-L43

If it doesn't exist, we should return gracefully.

[2017-10-17 00:12] skellock commented on #248
Perhaps a better option would be in the runtime.

https://github.com/infinitered/gluegun/blob/1cf8014eff543d8996f41a09b72d8f9829576242/packages/gluegun/src/domain/runtime.js#L178-L194

This way a `null` won't get added to the plugins list.

[2017-10-17 00:44] WilliamStephens commented on #248
Hey, I would love to take this one!

[2017-10-17 01:09] skellock commented on #248
Sure!  I was thinking  of `options` having an extra property called `required` which wouldn't be there (so falsy) by default.  But in `loadDefault`, it would be `required: true`.

I think.  Haha.

[2017-10-17 11:17] skellock opened #250 "Aliases are giving wrong parameters."
I have a command that prints out the `context.parameters`.  I'm seeing different results when i have an alias defined or not.

[code]

Will print these `context.parameters`:

[code]

[code]

Will print these `context.parameters`:

[code]

It would be great if `alias` would disappear entirely and be replaced by its full value. The 2nd results appear to be correct.

[2017-10-20 00:16] GantMan commented on #243
I've begun the branch for this.  I'll need help from either @jamonholmgren or @skellock to officially know what's the best way to proceed.

Brach Progress:
https://github.com/infinitered/gluegun/tree/feature/commonCommands

[2017-10-20 13:08] skellock commented on #243
I’d love for this fluent api interface to be:

[code]

The absence of any would mean they are disabled.

The presence of them without params would mean they get defaults.

Passing stuff would allow us to customize their behaviour.

[2017-10-20 13:57] GantMan commented on #243
I like it.

[2017-10-20 20:35] skellock commented on #243
i like you.

[2017-10-21 05:44] jamonholmgren commented on #247
Idea:

[code]

[2017-10-21 05:48] jamonholmgren commented on #248
@WilliamStephens Let me know if you need any help, would be happy to give pointers!

[2017-10-21 11:47] skellock commented on #247
Sure.

Another option could be for me to learn how glob patterns work and add a negate pattern. 😆

And another option could be to gracefully ignore files that aren’t commands when we try to load them.

And another option could be to tell people to not include things that aren’t commands in that directory.

I’m cool with all of the above.

Probably like yours the best.

[2017-10-21 15:16] WilliamStephens commented on #248
@jamonholmgren My bad forgot about this. I can probably get to it later today. I was thinking about just adding required to the options and then setting a flag on the plugin maybe something like isValid. Then in the runtime only add plugins that are valid. I'm assuming it should still throw if required is true and the path is not valid? I was also wondering if you guys had any kind of logger to le

[2017-10-22 00:24] jamonholmgren commented on #248
Yes.

@skellock says Gluegun shouldn't print anything, so I'm assuming not. Maybe we need to allow them to provide a callback function in case a plugin isn't valid, to allow them to print that?

[2017-10-22 00:26] #250 closed

[2017-10-22 01:02] jamonholmgren commented on #247
Went with your first alternate option, which ended up being easier than I expected.

[2017-10-22 02:53] #247 closed

[2017-10-22 02:57] skellock commented on #248
I'm cool with blowing up if the plugin is invalid.

We used to catch that error and tuck it away in safe spot for reporting.  Nobody seemed to like that approach so we ditched it in v2.

This though is different I think.  This is just:  ya, that plugin dir.  It's not even there, so I'm not going to try to load it.

`loadAll` does something similar.  `load` doesn't.   `loadDefault` should definitel

[2017-10-22 05:37] skellock opened #255 "Failing build on semaphore with strange error"
The `master` branch is failing right now.  Seems really odd.  Is this a semaphore issue?

Let's take a look.

[2017-10-26 16:16] jamonholmgren opened #260 "Eliminate monorepo, integrate CLI"
@skellock and I were talking about the friction involved with coordinating `gluegun-cli` and `gluegun` releases (via lerna), and came to the conclusion that we should probably integrate the `cli` into the `gluegun` package and eliminate the monorepo.

A couple of the issues:

* You currently can't link to the repo in `package.json` dependencies, e.g. `"gluegun": "infinitered/gluegun"
* In [release

[2017-10-26 17:16] jamonholmgren commented on #255
Semaphore hasn't failed since Sunday. Probably a Semaphore glitch. I'll close for now (re-open if we hit this again).

![image](https://user-images.githubusercontent.com/1479215/32067061-b4bef8b4-ba36-11e7-9288-f7c189642944.png)

[2017-10-26 17:16] #255 closed

[2017-10-26 19:59] jamonholmgren opened #261 "Update enquirer dependencies"
Getting this warning:

[code]

Let's make this happen.

[2017-10-26 21:01] kevinvangelder opened #263 "`gluegun help` on Windows"
Currently outputs:

[code]

[2017-10-26 21:21] jamonholmgren commented on #263
Interesting, not sure what's going on here. Should be:

[code]

[2017-11-05 20:47] ekryski commented on #208
I'm working on this right now. Just about done.

[2017-11-05 20:51] ekryski commented on #161
👍  👍  over here. Pretty big fan of Winston since it's pretty easy to also pump those logs to other locations via their adapters (ie. mongod, elasticsearch, papertrail, etc.)

[2017-11-06 01:04] skellock opened #268 "Deprecation warning about prompt-text"
One of our dependencies ([enquirer](https://github.com/enquirer/enquirer)) has a deprecated dependency `prompt-text`.  This appears to be replaced by [prompt-input](https://github.com/enquirer/prompt-input) however their [package.json](https://github.com/enquirer/enquirer/blob/master/package.json#L37) hasn't been updated yet.

It causes this warning when we install `gluegun`.

![image](https://use

[2017-11-06 17:41] #208 closed

[2017-11-11 18:49] GantMan opened #271 "await an async file read with jetpack?"
No reason to use async and then await it.

https://github.com/infinitered/gluegun/blob/a9ed51fdffd944ad548e790660ddba5686708e97/src/core-extensions/patching-extension.js#L34

just use `read` which is sync.  Don't add complexity.

[2017-11-11 22:22] skellock commented on #271
PR's accepted ;P

[2017-11-11 22:23] skellock commented on #271
Agreed.  PR?

[2017-11-11 22:24] skellock commented on #271
That was me?

[2017-11-11 22:31] skellock commented on #271
Woah, github is having some issues.

So ya, I was the last to edit that code.  Totally missed that.  Fixed up.

[2017-11-11 22:48] GantMan commented on #271
LOL, you had a full conversation with yourself and fixed the code.   BTW I would have taken care of this, just filed the ticket so it's noted 😆

[2017-11-11 22:51] #271 closed

[2017-11-12 06:21] GantMan commented on #207
Gotcha.  What's the upper bound cost for a swap, should I shop other table creators?  Or even construct it myself (it doesn't seem hard honestly).

[2017-11-18 18:38] jamonholmgren commented on #26
Fixed in #256

[2017-11-18 18:38] #26 closed

[2017-11-18 18:57] jamonholmgren opened #276 "Command not found should fail more gracefully"
Steps to replicate:

Create a command folder structure like this:

![image](https://user-images.githubusercontent.com/1479215/32983783-3753a43a-cc4f-11e7-8a93-d8024d9b83b1.png)

Then run `mycli logo`. Fails with an error like this:

[code]

The error is there, but buried in unhandled promise errors.

Here is a good starting point: https://github.com/infinitered/gluegun/blob/master/src/loaders/comm

[2017-11-18 19:04] jamonholmgren opened #277 "Create a default command that shows help"
All we need is a template command with the same name as the cli that load the help command:

[code]

[2017-11-20 14:52] GantMan commented on #277
This based off the convo in https://github.com/infinitered/gluegun/issues/243?

[2017-11-21 04:51] jamonholmgren commented on #277
@GantMan No, that's different. In this case we just need to update the generated template to include a file by the name of the CLI that is being generated + `.ts|js` and add that line of code.

[2017-11-24 22:01] skellock opened #282 "Configuration Via CosmicConfig"
I'm seeing a few repos switching over to this style of configuration.  `prettier` and `lint-staged` and a few others.

I'd like to as well with `gluegun`.  Mainly cuz I'd like to use this for the `gluegun`-based CLIs.

The primary benefit is that it supports many different styles & formats of configuration... including @jamonholmgren  and @skellock's favorites:  right inside your `package.json`.

[2017-11-24 23:07] jamonholmgren commented on #282
I like the idea of cosmiconfig. 👍

I'm still working on wrapping my mind around where a configuration file is really helpful. I haven't used configs much, myself, so I need to look at use cases and embed the problem domain firmly in my mind.

[2017-11-25 00:23] skellock commented on #282
Many cli's have config files such as `.babelrc`, `.prettierrc`, `webpack.config.js`, `rn-cli.config.js`, etc. `solidarity` and `ignite` both have configs.

Gluegun doesn't need one, but the things people build currently do.

Presently the way it works is via a `.toml` file named after the brand.  I've got a mechanism where the plugins of the cli being built can set their own defaults in their own

[2017-11-25 01:26] jamonholmgren commented on #282
That makes a lot of sense. This will take me a while to come up with something, but I'll work on it.

[2017-11-27 13:48] skellock opened #285 "Remove spread operators"
We cannot use spreads like this because it requires Node 8.6.  Our target is Node 7.6.

Let's switching property spreads (`{ ...thing }`) to `Object.assign()`.

https://github.com/infinitered/gluegun/blob/master/src/utils/print.js#L24

[2017-11-27 14:53] skellock commented on #276
Woah, i had tagged the wrong issue on that pr.  💩

[2017-11-27 18:16] #285 closed

[2017-11-30 19:56] jamonholmgren opened #287 "Add Rollup (or similar) to gluegun-generated CLIs to ship smaller CLIs"

[2017-12-01 07:02] jamonholmgren commented on #287
I played with it some tonight, but am not finding much info online about making Rollup work with a Node-powered CLI. I was able to get it to run, but it just copied the `src/cli.js` into the build folder and didn't actually roll anything up.

[2017-12-01 13:01] skellock commented on #287
Do you have some code I can look at?

[2017-12-02 05:45] jamonholmgren commented on #287
I deleted it. No git backup.

![oops](https://media1.tenor.com/images/eabed680d8959e91133d9b286f09415b/tenor.gif?itemid=6118887)

I can pretty easily recreate what I had, though. I'll do that and throw it into a repo for you, @skellock .

[2017-12-02 09:12] skellock commented on #287
What I’m thinking is perhaps we start the roll up bundle at the 2nd file and not the cli entry point.

We have our bin/{brand} file and then our {bundle}.

Not sure if that will matter.

I’ve used rollup on several libs and it’s awesome. But never on a cli before.

[2017-12-03 04:02] jamonholmgren commented on #287
That’s actually what I did, started at the second file (cli.js). It just only included that file, though. Not sure what I’m doing wrong. I’ll post code next week.

[2017-12-03 08:31] jamonholmgren commented on #287
@skellock https://github.com/jamonholmgren/gluegun-movies-demo/commit/b071780bd190ce9fb9ac52f5010a2d0088321c03#diff-6e46529c2666be7cf13a3484f3722052R12

[2017-12-05 20:06] skellock opened #288 "Parameters parsing regression"
I'm having some issues with the parameter parsing in gluegun 2.

With a newly gluegunned project off of `gluegun@2.0.0-alpha.16`, I'm experiencing this:

###  ✅ Command only

[code]

Out of the box, a command by itself is good.

[code]

###  ✅ Alias version

[code]

Aliases work as well.

[code]

###  ✅ Additional parameters

[code]

Even additional parameters work as expected.

[code]

### ❌ Opti

[2017-12-05 20:57] skellock commented on #288
Potential workaround:

When you call `.run()` from your app, you can inject in a pre-processed version:

[code]

This seems to bypass the issue.

I think the issue is around here.  We shouldn't be reading directly from `process.argv`, but rather a minimist-preprocessed version of what it calls `_`.  This is what's left after it strips down all option flags.

https://github.com/infinitered/gluegun/

[2017-12-06 07:30] jamonholmgren commented on #288
Thanks for the really detailed report, Steve. Agree with your assessment. I'll think through the implications when I'm back in town and post my thoughts.

[2017-12-13 00:32] jamonholmgren commented on #148
Going to push this one beyond 2.0.0.

[2017-12-13 00:33] jamonholmgren commented on #161
Pushing this one out beyond 2.0.0.

[2017-12-13 00:33] jamonholmgren commented on #193
Pushing this out beyond 2.0.0.

[2017-12-13 00:34] jamonholmgren commented on #207
Closed in #280.

[2017-12-13 00:34] #207 closed

[2017-12-13 00:37] jamonholmgren commented on #229
Closing in favor of #282. @skellock, do you feel we should keep TOML support, or drop it in favor of CosmicConfig altogether?

[2017-12-13 00:37] #229 closed

[2017-12-13 00:39] jamonholmgren commented on #261
Closing in favor of #268.

[2017-12-13 00:39] #261 closed

[2017-12-13 00:48] skellock commented on #229
Nah... it didnt take off like I’d hoped. Feel free to detomilify.

[2017-12-13 05:33] jamonholmgren opened #290 "Plugin commands aren't resolved properly"
When you bring in a plugin, the commands are loaded properly but not resolved when you run that plugin command.

I have a fix for this incoming.

[2017-12-13 05:48] jamonholmgren commented on #19
Already present in our plugins.md document.

[2017-12-13 05:48] #19 closed

[2017-12-13 19:50] #290 closed

[2017-12-13 20:13] #18 closed

[2017-12-14 03:44] #248 closed

[2017-12-14 17:18] skellock opened #295 "Jest watch mode vs unhandledRejections"
This [code](https://github.com/infinitered/gluegun/blob/master/src/index.js#L23-L26) is causing jest to throw errors.

[code]

In watch-mode, jest does this:

[code]

How would you feel about having the ability to opt in to this?

`.rethrowUnhandledRejections()`

Or something equally unwieldly?

[2017-12-16 03:16] #282 closed

[2017-12-16 03:16] #288 closed

[2017-12-16 04:43] jamonholmgren commented on #295
I can fix that particular issue (see #297) and will think about the config option to rethrow -- I'd rather not, if we can avoid it, at least for now.

[2017-12-17 07:08] #295 closed

[2017-12-17 07:09] jamonholmgren commented on #263
@kevinvangelder I think #298 might fix this. Maybe you can test it when it’s out.

[2017-12-18 20:16] #243 closed

[2017-12-18 20:16] #277 closed

[2017-12-19 07:37] jamonholmgren commented on #148
Just kidding.

[2017-12-19 20:01] #276 closed

[2017-12-19 20:36] #148 closed

[2017-12-20 19:11] jamonholmgren opened #306 "Convert gluegun source to TypeScript"
I'm about 80% through [a major refactor](https://github.com/infinitered/gluegun/compare/refactor/internals), which includes converting over to TypeScript. So I'm filing this issue to track some of the items.

1. I'm using `ts-node` right now, and it works pretty well. However, my assumption is that we should keep this as a devDependency and compile a JS bundle ... when other CLIs import `gluegun`,

[2017-12-21 00:51] skellock commented on #306
1. Yes, you are right.

`ts-node` is great for dev but not for shipping. TypeScript isn’t really a bundler so it won’t pack up dependencies. It just turns our source into a different source. There will be a build step required for shipping. Add `outDir: dist` to the `tsconfig.json` (for example) then run `tsc -p .` and we’re done.

2.  Source maps is how you fix this.

`sourceMaps: true` in our co

[2017-12-21 15:28] GantMan commented on #306
Supporting older versions of NODE!?  Woah!  epic!

[2017-12-22 05:19] jamonholmgren commented on #306
So this is somewhat easier said than done, after battling it a bit. I think we should keep it at Node 7.6+ until someone really wants prior Node version support. I have an idea the direction I'd need to go to support it, but I'm just not too keen on fighting it at the moment, especially with Node marching onward and onward.

[2017-12-22 15:42] skellock commented on #306
What problem did you run into?  TS supports this out of the box by setting the appropriate target.

[2017-12-22 16:50] GantMan commented on #306
I too am interested.  It seems it should be straightforward once you have TypeScript to simply ship to older JS in the compile.

[2017-12-31 21:56] jamonholmgren commented on #306
It's not the library code itself, but rather the `gluegun` CLI and any `gluegun new` generated CLI. I can remove or lower the Node requirement in the library and it'll probably work, because I'm targeting `es5` right now for that bundle. But you'd need to change your own CLI to properly work with es5 as well. I could make some sort of `--target=es5` flag on new CLIs and also make the gluegun CLI i

[2018-01-04 18:18] #306 closed

[2018-01-04 22:16] jamonholmgren commented on #287
Shipped gluegun with Rollup! However, it doesn't close this issue, as we don't include Rollup in generated CLIs. Keeping this zombie caged.

[2018-01-08 01:04] skellock opened #310 "Prefer `import` over `require`"
I recommend sticking with `import` rather than [`require`](https://github.com/infinitered/gluegun/blob/0e368e24fdc0a80d0098dc1a6bf5750db8893d88/src/index.ts#L24-L30) as much as possible to keep the types.

`require` does have it's place for sure though.  Such as, guarding with an `if` statement or intentionally dodging bad types in a 3rd party lib.  Unlike `require`, `import` gets hoisted so it's

[2018-01-08 01:09] skellock opened #311 "Re-exporting"
Instead of [importing just to export](https://github.com/infinitered/gluegun/blob/0e368e24fdc0a80d0098dc1a6bf5750db8893d88/src/toolbox/string-tools.ts#L1-L17), you can do that in one step by changing the first word from `import` to `export`.

[code]

[2018-01-08 01:12] skellock opened #312 "Simpler Named Exports"
In JavaScript it was kinda easier to [wrap up exports in an object](https://github.com/infinitered/gluegun/blob/0e368e24fdc0a80d0098dc1a6bf5750db8893d88/src/toolbox/string-tools.ts#L70-L99), however in TypeScript, I find it often simpler to just do it inline.  It will compile down to the right thing.

For example:

[code]

Would change to:

[code]

And then you could drop the [whole bottom half](h

[2018-01-08 01:16] skellock opened #313 "Simpler jsdoc comments"
[code]

You see those `{any}` and `{boolean}`?  You can straight up delete 'em now.  Editors like VS Code give you the right type info.

We're not running any jsdoc auto-generators on this project.

When we do, [typedoc](https://github.com/TypeStrong/typedoc) is the incumbent and will do the right thing.

[2018-01-08 01:20] skellock opened #314 "Rollup config can be TypeScript now"
Grab the latest version of `rollup` (they've switched to TypeScript btw 🎉 ) and then rename our file to `rollup.config.ts`.  Then in your `package.json` script for `rollup`, put in `rollup -c rollup.config.ts`.

[2018-01-08 01:24] skellock opened #315 "Delete unused devDependencies"
We can delete these packages from our `devDependencies`:

* `rollup-plugin-closure-compiler-js`
* `rollup-plugin-re`

[2018-01-08 01:27] skellock opened #316 "Add package.json to .prettierignore"
I recommend adding `package.json` to `.prettierignore`.

Yarn & npm will fight with each other over formatting that file unfortunately.

[2018-01-08 01:42] skellock opened #317 "Clean up `findCommand` type definition"
I find [inline on-the-fly typings](https://github.com/infinitered/gluegun/blob/0e368e24fdc0a80d0098dc1a6bf5750db8893d88/src/runtime/runtime-find-command.ts#L19) pretty hard to read.

If you felt like really typing it, maybe something like this:

[code]

Since this is not an interface a user will be working with (only consuming from this spot), I'd actually just delete the typing entirely and let T

[2018-01-08 17:53] jamonholmgren commented on #317
Good call. 👍

[2018-01-08 17:54] jamonholmgren commented on #315
Weird, I thought I had.

[2018-01-08 17:55] jamonholmgren commented on #312
I couldn't figure out how to export [this part](https://github.com/infinitered/gluegun/blob/0e368e24fdc0a80d0098dc1a6bf5750db8893d88/src/toolbox/string-tools.ts#L19-L28) of the file. Any suggestions?

[2018-01-08 17:56] jamonholmgren commented on #311
Nice! I think my problem was I tried to do `export cameCase from 'lodash.camelcase'` which didn't work. womp womp

[2018-01-08 17:57] jamonholmgren commented on #310
I did try to avoid `require` wherever I could. However, in some cases we're loading things dynamically and need to. I'll make another pass through and see if I missed some `import` opportunities.

[2018-01-09 10:11] skellock opened #320 "Use esm"
Regarding some of your valid concerns in #319.

ES modules is coming to Node!  👍
But not yet.  👎
And only to `*.mjs`. 👎
But what the js community wants, the [js community gets](https://github.com/standard-things/esm).  👍

TURBO JAMON MODE ENGAGE!!!!

[2018-01-11 00:01] #310 closed

[2018-01-11 00:07] jamonholmgren commented on #317
Even better, I already have an exported type for `RuntimeParameters`. 👍

[2018-01-11 00:55] #317 closed

[2018-01-11 00:59] skellock commented on #310
Hey, something I learned this morning.

I was wrong about import being hoisted.

`import` doesn't get hoisted in node.js & typescript.  I found that out by doing `require` mocks in `jest` **before** `imports`.

It does in ReactNative though... that narrows it down to babel and metro bundler.

Suffice to say, this entire toolchain is pure comedy. 😆

[2018-01-11 01:29] jamonholmgren commented on #310
Wow. I feel like I need to write up a blog post about all this. But it's rather daunting, because there are so many use cases and tools at play here.

### Environments

* Node
* Electron
* Browsers (modern and antique)
* React Native

### Tooling

* Straight ES5
* Straight ES6+
* Running with TS-Node
* Compiling with TSC
* Compiling with Babel
* Rollup

This is a very incomplete list and it's alre

[2018-01-11 01:36] jamonholmgren commented on #311
So `export * as whut from 'whut'` isn't supported right now, although there are a [couple](https://tc39.github.io/proposal-export-ns-from/) [proposals](https://tc39.github.io/proposal-export-default-from/) currently hanging out in stage 1.

I *may* be able to simplify the syntax somewhat though.

[2018-01-11 01:48] #316 closed

[2018-01-11 01:48] #315 closed

[2018-01-11 01:50] skellock commented on #311
I must have gotten it confused with `export * from 'whut'`.  😭

I'm sad.

[2018-01-11 01:50] #311 closed

[2018-01-11 01:58] skellock commented on #310
and mjs, system, commonjs

React Native's module resolution is all kinds of crazy (haste). Facebook has their own way of resolving modules that works for their scale.

Then there's the special package.json overrides for `browser`, `jsnext:main`, `react-native` where you can both specify a different entry point and/or swap individual modules (not official spec)?

Then there's async imports people a

[2018-01-11 02:02] skellock commented on #310
We've spent the last 10 years (and probably the next 5) reinventing something that's been solved for 30 years.  Static & dynamic library loading.

I love learning, so I'm not bitter. I'm just unproductive.

[2018-01-11 06:05] jamonholmgren commented on #268
Fixed in #325 .

[2018-01-11 06:05] #268 closed

[2018-01-11 06:06] jamonholmgren commented on #312
Fixed in #319 and #324 .

[2018-01-11 06:06] #312 closed

[2018-01-13 19:25] jamonholmgren commented on #310
Very relevant: https://gist.github.com/ceejbot/b49f8789b2ab6b09548ccb72813a1054

[2018-01-14 17:17] #313 closed

[2018-01-14 18:01] jamonholmgren commented on #320
I've done a bunch of research on this. Given how much in flux all of this is right now, I think I'd stick to commonjs `require`s where we need to and just deal with it. Once it all shakes out (probably in 2018, I'd imagine) then we can adopt whatever standard comes along. Thoughts?

[2018-01-15 00:52] skellock commented on #320
Up to you.

[2018-01-15 08:01] jamonholmgren opened #328 "Switch to `minimist2`"
Per [this comment](https://github.com/substack/minimist/issues/115#issuecomment-357537064), @berdon has created a TypeScript rewrite of minimist, called [minimist2](https://github.com/berdon/minimist2). Given that the original minimist isn't really being maintained anymore, it might make sense to switch to the new library.

[2018-01-15 19:02] jamonholmgren opened #329 "Add TypeScript type info to all external tools"
I played around with making a small text-based game with Gluegun last night, to get a sense for how it works with that. It works surprisingly well.

[https://github.com/jamonholmgren/st](https://github.com/jamonholmgren/st)

One thing I found myself missing, though, were TypeScript bindings for the external `toolbox` tools, like `context.prompt` (aka `enquirer`).

Let's add them for all tools, hop

[2018-01-18 19:22] jamonholmgren opened #331 "Make nested commands work a little more intuitively"
@ryanlntn had some confusion around nested commands. He didn't know we needed the root command included in the folder in order for it to work.

Let's say you needed `foo stories generate` as a command.

[code]

This will fail, because it doesn't know what `foo stories` is.

However, if you add the root command:

[code]

... it works, because now it'll crawl through `stories.ts` and keep going.

We

[2018-01-18 19:52] skellock commented on #331
I like it. That makes a lot of sense.

[2018-01-18 20:31] ryanlntn commented on #331
Yeah I'm all for adding a no-op command if one doesn't exist.

[2018-01-18 20:40] skellock commented on #331
Creating a `folder` to get hierarchy is magical.

[2018-01-18 21:24] jamonholmgren commented on #331
Sounds good, let's do it.

[2018-01-18 21:31] jamonholmgren commented on #329
Relevant: https://www.typescriptlang.org/docs/handbook/declaration-files/library-structures.html

[2018-01-19 21:38] zberkom opened #332 "Docs home page 404"
![image](https://user-images.githubusercontent.com/7085617/35172768-d0e02b7e-fd1d-11e7-9f4a-9efa6eeb64ee.png)

Looks like we have a md template issue here.

[2018-01-22 01:25] GantMan opened #334 "Two circular dependencies"
Not that they are bad, but they smell like possible o crap mistakes.

`run-context.ts` imports `command.ts` and vice versa.  It's via a function, but still not immune.

Also a more complex circular dependency:
`run-context.ts -> plugin.ts -> extensions.ts -> run-context.ts`

It's worth checking if we can properly structure the code so there could be no chance of a circular dependency.

[2018-01-22 04:35] GantMan opened #335 "Node 7.6 still a requirement?"
I know we had this built in for gluegun usage PRE-TypeScript:  https://github.com/infinitered/gluegun/blob/master/sniff.js

But now that we're compiling to common JS, can't we break the node >=7.6 requirement?

[2018-01-24 06:58] jamonholmgren commented on #335
Yes, [but.](https://github.com/infinitered/gluegun/issues/306#issuecomment-354625392)

Essentially, we can support older versions of Node, yes. But the generated CLI will not work with older versions of Node unless we introduce a build step or significantly refactor.

[2018-01-24 07:00] jamonholmgren commented on #334
Defining the types in a single file like @skellock likes to do would help with this.

I'm not going to be able to get to Gluegun for at least a week, perhaps two. My plate is pretty full at work for a while.

[2018-01-25 04:35] jamonholmgren opened #336 "Upgrade to new Rollup"
Sounds like the new Rollup has some nice improvements.

https://twitter.com/lukastaegert/status/955724244415057920

[2018-01-30 21:06] orta opened #337 "Support `export default` as well as just `module.export =`"
I've never wrote a `module.export =` before, so I figured it was just the same as `export default`. Turns out it wasn't the same 💯

[2018-01-30 21:29] orta opened #338 "Consider allowing GluegunCommand to be a generic type on Context"
Everyone is gonna have different contexts in their apps, so tying a command to just `RunContext` doesn't work

e.g.

[code]

Would raise an error:
[code]

Which makes sense.

So instead, I could write:

[code]

I think. Then throughout my app, I can just refer to `Command`.

[2018-01-30 22:06] orta opened #340 "Support async plugins / extensions"
Code I'd like to write:

[code]

and

[code]

The GH Auth prompt does a bunch of pre-requisite work, it's feasible that I can add a function to handle it per-command but it's basically something I want on the first time user flow anyway.

I took a quick look at this and it seems like it'd add async code everywhere so opted to not PR right now and to move it to a function my command can handle as I

[2018-01-31 00:15] wuweiweiwu commented on #328
@jamonholmgren Can I work on this?

[2018-02-01 21:43] jamonholmgren commented on #338
Yes, this is way better. Thanks!

[2018-02-01 21:43] jamonholmgren commented on #338
Closed by #339 .

[2018-02-01 21:43] #338 closed

[2018-02-01 21:43] jamonholmgren commented on #328
@wuweiweiwu Certainly, thanks for offering!

[2018-02-01 22:14] jamonholmgren commented on #337
I just saw that TypeScript _does_ support dynamic imports:

https://blog.mariusschulz.com/2018/01/14/typescript-2-4-dynamic-import-expressions

I'm going to look into this ASAP.

[2018-02-01 22:37] skellock commented on #337
Maybe [here](https://github.com/infinitered/gluegun/blob/master/src/loaders/command-loader.ts#L47) we could be a little more permissive to check for `default` as well?

[2018-02-02 01:51] orta commented on #340
Yeah the promise might probably be the best option TBH 👍

[2018-02-03 03:40] wuweiweiwu commented on #328
@jamonholmgren I am probably misunderstanding but it seemed that minimist is not a direct dependency of gluegun but is a dependency of dependencies. So to change that, wouldn't it require changing it in the dependencies' dependencies?

[2018-02-04 04:43] jamonholmgren opened #342 "Support TypeScript async import"
Per [this comment on #337](https://github.com/infinitered/gluegun/issues/337#issuecomment-362420041), we'd like to use TypeScript's built-in dynamic `import` rather than commonjs `require`.

This is the relevant bit of code:

https://github.com/infinitered/gluegun/blob/69dd58fc64a61d44e1393dd7fb059ced7f64b5ad/src/loaders/module-loader.ts#L10-L14

## Should we switch to dynamic import?

TypeScript'

[2018-02-04 19:35] skellock commented on #342
### TL;DR

It's beautiful just the way it is.

### Good for the Web is Good for the CLI?

The splitting scenario is wonderful for the web, I don't doubt that.

For us, it *seems* like a good fit too.  For example:

* we bootstrap the `gluegun` runtime, but then only run 1 command.
* `solidarity` has multiple plugins (`react-native` and `elixir`) but might only need 1 set.

I get the allure of want

[2018-02-04 23:20] skellock opened #344 "Adding defaultCommand prevents non-core plugins from working"
### Problem

Using `gluegun@2.0.0-beta.4`, if you add register a `.defaultCommand()` on your builder, it will prevent from running commands in other plugins.

### Scenario

After adding a `.plugin()`, the `Runtime` shows the 2 plugins.  The first being the default set, the 2nd one being the one I add.

If you try to run it with `mycli plugin2 validcmd` the `.defaultCommand()` runs instead.

You ca

[2018-02-05 19:06] jamonholmgren commented on #344
@skellock Good catch. Your analysis is correct. I haven't been super happy with our command resolving anyway.

What I'd like to do is have one `commands` list. We don't loop through plugins and find commands; instead, we just search down one master list. The defaultCommand could be at the end, then, easily.

This will require some rethinking and reworking. I'll try to find a workaround in the mean

[2018-02-05 20:40] jamonholmgren commented on #328
@wuweiweiwu You're right. We [recently switched](https://github.com/infinitered/gluegun/pull/294) to `yargs-parser` because `minimist` isn't being maintained anymore, anyway. I had forgotten I did that. 🤦‍♂️

[2018-02-05 20:40] #328 closed

[2018-02-05 20:48] jamonholmgren commented on #342
![excellent point](https://media1.tenor.com/images/e2b6c354cedaabd81e0adb0d4fdefc6c/tenor.gif?itemid=8337027)

[2018-02-05 20:48] #342 closed

[2018-02-05 21:09] jamonholmgren commented on #337
Closed via #343.

[2018-02-05 21:09] #337 closed

[2018-02-05 21:49] jamonholmgren commented on #329
(somewhat) fixed by #341 . Closing.

[2018-02-05 21:49] #329 closed

[2018-02-05 22:47] jamonholmgren commented on #340
I'm going to close this issue, given we have a reasonable pattern to follow above. Happy to restart the discussion if anyone has strong feelings about it.

[2018-02-05 22:48] #340 closed

[2018-02-05 22:48] jamonholmgren commented on #334
@GantMan Does this actually cause any issues in practice?

[2018-02-05 22:58] GantMan commented on #334
hypothetically it could.  Just means you **could** cause an issue.  Like if you set those up to be interdependent and then serialized the data you'd have an outrageous bug to find.

[2018-02-05 23:46] #332 closed

[2018-02-06 00:29] skellock commented on #334
The relationship from Command to RunContext is interface only, not data, so it wouldn’t cause any runtime issues like serialization problems.

Same with the plugin/extension gauntlet.  Ownership is only 1 way, even though the interfaces are in both spots.

I love how TypeScript knows what to do.

[2018-02-06 03:33] jamonholmgren commented on #334
I'm going to call this one `wontfix` ... but feel free to bring it up again if we run into any issues!

[2018-02-06 03:33] #334 closed

[2018-02-06 05:02] jamonholmgren commented on #344
I've created a failing test for this. Working on a fix.

[2018-02-06 18:19] GantMan opened #348 "context output config"
Right now you can only have gluegun print to console.

What about allowing gluegun to be configurable so anything built on GG can have CLI OR Library benefits.

`context.print.stdout = true` (by default)
`context.print.json = true` (_false by default_) will store all `print.success`, and `print.error`, and `print.warn` messages in a JSON file so this can be passed on to GUI or other apps.  Accessi

[2018-02-07 04:51] jamonholmgren commented on #348
I like this idea a lot. Perhaps goes with #161 as well.

[2018-02-07 04:59] jamonholmgren opened #350 "Rename RunContext to Toolbox"
One thing that I've noticed some new-to-CLI developers trip over is the idea of `context`. It's not immediately obvious what this is, and there's a bit of a learning curve.

I am a big believer that naming things is both _hard_ and extremely _important_, because it influences how people reason about things.

This is what we have currently:

[code]

While doing the internals refactor in #307, I set

[2018-02-07 09:14] skellock commented on #350
A gluegun is also a tool, so bonus points on being thematic.

This I a breaking change. If you rename that, our builds break. You can alias it though with a deprecation warning in the docs and we’re gold.

[2018-02-07 16:19] GantMan commented on #348
Yes! Hand in hand!

[2018-02-09 02:12] #344 closed

[2018-02-12 20:04] jamonholmgren commented on #263
![capture](https://user-images.githubusercontent.com/1479215/36116926-dcf9b330-0fec-11e8-8745-369f92aaa531.PNG)

Verified works with latest beta.

[2018-02-12 20:04] #263 closed

[2018-02-14 03:26] jamonholmgren commented on #348
Planned for post-2.0 release.

[2018-02-17 22:12] jamonholmgren commented on #331
Closed by #352.

[2018-02-17 22:12] #331 closed

[2018-02-18 07:28] #350 closed

[2018-02-18 09:09] jamonholmgren opened #355 "Improve startup performance"
Gluegun currently takes about 480ms to boot. That's compared to about 115ms for `node --version` on my machine.

I think we could improve startup performance by about 30-35% by disabling unneeded core extensions. The three that cause the most performance penalty are:

[code]

The rest are negligeable.

### API changes

The builder API would be something like this:

[code]

I created a WIP branch a

[2018-02-18 23:33] skellock commented on #355
Ditching #2 is really bad news for me.  I use that everywhere.

I disagree with the clean statement. The idiomatic way to import things in `js` and `ts` is via `import/require`.

Gluegun has two different ways to deliver functions to you, with & without context.  Perhaps this is the thing that feels a bit unclean to you (the fact there's two ways)?

Without direct exports, you're left shoehorning

[2018-02-19 00:34] jamonholmgren commented on #355
Good feedback! You’re the biggest user of gluegun and it’s good to hear the use cases against this optimization. I’m more sad about losing Rollup, so if you don’t like losing #2 and I don’t like losing #1 then that’s a pretty strong argument against going down this path.

It’s really good to get some perf numbers though. Perhaps we could find ways to fix the prompt and print loading times without

[2018-02-19 00:36] jamonholmgren commented on #355
Maybe `createToolbox` could even take arguments to get specific tools, if you want.

[2018-02-19 04:30] skellock commented on #355
Well, I need them, but I don’t need them bootstrapped.  For example, if we moved them to `gluegun/strings`, etc, that wouldn’t be a huge refactor for me at all.

I wonder if we could have the old behaviour hanging off `gluegun/sloth`? That way we would opt in to slowness.

I wouldn’t want you to stop these efforts!

[2018-02-21 03:28] jamonholmgren commented on #355
That's an interesting idea! I'll play with that. Perhaps `gluegun/toolbox`, to stay with the theme.

[2018-02-24 21:31] jamonholmgren commented on #355
Closed in #357.

[2018-02-24 21:31] #355 closed

[2018-02-24 21:31] jamonholmgren commented on #336
Rendered obsolete with #357.

[2018-02-24 21:31] #336 closed

[2018-02-24 21:32] jamonholmgren commented on #314
Rendered obsolete with #357.

[2018-02-24 21:32] #314 closed

[2018-02-25 00:56] jamonholmgren opened #359 "Latest master bug: dashed commands aren't resolved correctly"
I've added a regression test. The latest master doesn't resolve dashed commands (like `--help`) correctly. Working on a fix.

[2018-02-25 06:17] jamonholmgren opened #361 "TypeScript-generated CLIs should have `npm run build` and Rollup built-in"
When generating a TypeScript CLI, it comes pretty bare-bones. Let's add a build script (for production) as well as a Rollup script that allows for easier distribution on NPM.

[2018-02-25 19:56] #359 closed

[2018-02-25 20:01] jamonholmgren opened #362 "Generated CLIs should have the new .exclude by default"
**This is a good first-PR for someone**

Per @GantMan , let's include a commented-out line for the new `exclude` builder method.

https://github.com/infinitered/gluegun/blob/master/src/cli/templates/cli/src/cli.js.ejs#L8-L15

(While you're in there, also change to `.brand('<%= props.name %>')` to fit the new recommendations in #358)

[code]

### Why?

`gluegun new foo` creates a new CLI called `fo

[2018-02-25 20:13] jamonholmgren opened #363 "Change `colors` to `colors/safe`"
Per [this comment](https://github.com/infinitered/gluegun/pull/357#issuecomment-368283970), the `colors` package adds a significant startup penalty. It's possible that we could realize some performance savings by using `colors/safe` instead, which has the added benefit (IMO) of not monkeypatching the string prototype.

https://github.com/Marak/colors.js#using-string-safe-api

This line:

https://g

[2018-02-26 04:30] jamonholmgren opened #367 "TypeScript strictNullChecks: true doesn't like GluegunToolbox"
Our GluegunToolbox (aka GluegunRunContext) has many optional properties that hold extensions.

[code]

If you turn on `strictNullChecks` in TypeScript, TypeScript will complain about every tool you use.

[code]

This would require people to either turn off `strictNullChecks` or build their own toolbox, which is what I'm going to recommend for Solidarity. I'll link the PR here when I do so you can

[2018-03-02 21:28] jamonholmgren opened #369 "Mystery issue with Gluegun commands"
@skellock reported some issues with an internal tool when upgrading to beta 7.

![image](https://user-images.githubusercontent.com/1479215/36922689-a2781a82-1e1d-11e8-9f7e-4dc0e1009670.png)

Need to research this. This issue is to track progress.

[2018-03-03 01:41] GantMan commented on #369
Did you `npm i squirrels` ?

[2018-03-03 02:16] GantMan opened #370 "Consider this for prompts"
https://github.com/terkelg/prompts

Just consider it.  I want the best of the best to come with gluegun, so whatever you choose after evaluating :)

[2018-03-03 04:16] jamonholmgren commented on #320
@arackaf [thinks it should be easy](https://twitter.com/AdamRackis/status/969787589606760449) so I'm re-opening this.

[2018-03-03 06:51] arackaf commented on #320
Yeah! As the code linked shows, I'd highly recommend using @std/esm. cjs and native Node interop is seamless, and the outside world can consume your Node module with regular old require()

[2018-03-05 22:03] cmckni3 opened #371 "gluegun new error when installed globally with yarn"
### Steps to reproduce

[code]

### Installation message

[code]

### Stacktrace

[code]

### Versions

    node: 8.9.4
    yarn: 1.5.1

[2018-03-06 06:28] jamonholmgren commented on #371
Replicated ... will look into this soon! In the meantime, try beta.6.

[2018-03-06 06:29] jamonholmgren commented on #370
I really like it.

[2018-03-06 06:37] cmckni3 commented on #371
Yarn doesn't recognize `2.0.0-beta.5` or `2.0.0-beta.6`. Strange.

[2018-03-06 06:40] cmckni3 commented on #371
`2.0.0-beta.4` works 👍

[2018-03-08 15:10] cmckni3 opened #372 "Customize help banner?"
Just wondering it's possible to customize the help banner without printing out an entire string.

I tried `printHelp(toolbox)` in a `run` function passed to `.help`. `printHelp` prints out the banner and command help though.

[2018-03-09 15:06] cmckni3 commented on #372
Neat, I missed that one.

[2018-03-09 15:06] #372 closed

[2018-03-12 17:36] jamonholmgren commented on #371
Still intending to look into this.

[2018-03-13 18:52] donnes opened #374 "[QUESTION] Replace a repetitive string with a single `patching.replace`"
I have the string "abracadabra" in multiple lines of a file and I want to replace these strings with a single `patching.replace`. Has a clean way to I do it?

Thanks :D

[2018-03-15 18:20] jamonholmgren commented on #374
Hey @donnes , thanks for the question! I've been out of town, just saw this.

Under the hood, `replace` is using the JS string replace.

https://github.com/infinitered/gluegun/blob/master/src/toolbox/patching-tools.ts#L81-L90

[code]

You can pass in a global regex for the first parameter:

[code]

If you're using TypeScript, it'll complain that you're not passing in a string for the second parame

[2018-03-16 13:16] donnes commented on #374
@jamonholmgren No problem about the delay.
Yeah, I'm using Javascript instead of TypeScript and your way works very well. Thanks <3

I'll take a look about regular expression as parameter type and submit a PR when I had some time.

Thanks again and great work with Gluegun/Ignite. :D

[2018-03-16 13:16] #374 closed

[2018-04-03 14:21] GantMan opened #378 "parameters.options type is Options | undefined"
so when I write code like
[code]

I get issues because options COULD be undefined.  Instead, make options an object no matter.

[2018-04-15 01:59] jamonholmgren commented on #371
#379 might fix this. I'll cut a new beta release to test it out when it's merged. It appears to work fine in my limited testing locally.

[2018-04-17 05:11] jamonholmgren commented on #371
This is still an issue. In the meantime, I recommend installing via NPM: `npm i -g gluegun`.

[2018-04-17 05:40] jamonholmgren commented on #371
So, ironically, this issue was caused (indirectly -- long story) by using `yarn` to publish the packages. 🤦‍♂️

This issue is fixed as of `gluegun-2.0.0-beta.10`.

[2018-04-17 05:40] #371 closed

[2018-04-17 05:41] jamonholmgren commented on #369
@skellock Can you test this with `beta.10` please?

[2018-04-17 12:32] skellock commented on #369
Same deal.  I can see it listed but can't run the command.

[2018-04-23 18:58] jamonholmgren commented on #369
Gah. Okay. Would you mind posting repro steps in that other project and assign me, please?

[2018-05-11 22:50] jamonholmgren opened #382 "Typescript dependencies not found"
As you can see in https://github.com/infinitered/solidarity/pull/202, if the host app doesn't pull in `@types/cli-table2` (and friends), TypeScript won't be able to find them when trying to compile the app. This isn't a great experience.

Our options:

1. Ship those dependencies as `dependencies` not `devDependencies`
2. Copy those types into our own types
3. Require host apps to manually bring in

[2018-05-11 23:10] rmevans9 commented on #382
If you export something of a type that is in `@types/cli-table2` I think it would make sense to be in `dependencies` since it is needed for your public API.

[2018-05-12 18:47] jamonholmgren commented on #382
@rmevans9 Right, problem is that it means CLIs that don't use TypeScript will also have that dependency, despite not needing it.

[2018-05-12 19:11] cmckni3 commented on #382
`peerDependencies` or `optionalDependencies`?

[2018-05-12 20:39] skellock commented on #382
I'm liking `optionalDependencies`.  That's a wonderful idea.  I never even thought of that.

The clients can opt-in with `devDependencies`.

👍 👍 👍 👍

[2018-05-14 14:57] jamonholmgren commented on #382
I hadn't heard about `optionalDependencies` ... [reading into it](https://docs.npmjs.com/files/package.json#optionaldependencies), it appears that it's intended for cases where the dependency might not be available, and allows continuing on if that's the case. Since it'll almost certainly be available, it'll be installed just like `dependencies`.  So that doesn't quite help us.

`peerDependencies`

[2018-05-14 18:00] cmckni3 commented on #382
That’s true about `optionalDependencies`. I would use `peerDependencies` so the project can opt in. It’s what I use for Angular stuff even though Angular dependencies are required.

[2018-05-14 18:45] jamonholmgren commented on #382
My only worry with that is people getting peer dependency warnings when they're not using TypeScript.

[2018-05-15 00:27] cmckni3 commented on #382
Yeah although that’s a good thing. I guess I would lean more towards a line in the README for TypeScript users.

[2018-05-16 16:29] jamonholmgren commented on #382
We can also add them into the new TypeScript CLI boilerplate.

[2018-08-01 21:05] kaustavghosh06 opened #384 "Gluegun not able to parse windows filesystem to execute commands"
I have a directory structure like this commands/mycommand/subcommand.js

So ideally when using the gluegun framework, `clibrand mycommand subcommand` my subcommand.js should get invoked. it works fine on my Mac and Unix machine but doesn't get invoked in my windows machine. Is it a filesystem issue which gluegun is not able to comprehend?

[2018-08-03 04:31] jamonholmgren commented on #384
Yeah, sounds like there's a filesystem issue. Thanks for reporting!

[2018-09-11 03:39] jamonholmgren commented on #384
Closed by #385.

[2018-09-11 06:28] cmckni3 commented on #382
Circling back around to this. Since the new cli-table group happened. I believe at some point packaging the types with the project itself was suggested over @types. I can't find that article or the reference in DefinitelyTyped but projects built in TypeScript get this for free.

It appears that https://github.com/cli-table/cli-table3 packages the type definitions in this way.

[2018-09-11 06:28] cmckni3 commented on #382
I believe this can be closed.

[2018-09-11 16:27] kaustavghosh06 commented on #384
Thanks @kavengagne. @jamonholmgren Would be great if this could be published to npm.

[2018-09-11 17:41] cmckni3 commented on #384
I removed the output redirection to `/dev/null` during TypeScript compilation of gluegun. Gluegun should build on Windows.

Maybe ci should be setup for Windows. Can use Azure Pipelines for free with open source projects.

[2018-09-11 22:47] kavengagne commented on #384
Azure Pipelines are starting to support Yaml, which is a nice thing!
I agree CI should be setup for Windows to make sure no one breaks it.

[2018-09-12 03:58] kavengagne opened #386 "CI should be setup for Windows to avoid breaking support in the future"
As mentionned by @cmckni3, CI should be setup for Windows as well.
This would avoid breaking Windows support in the future.

- I can help with the Azure Pipeline setup
- Someone from infinitered would need to
    - Setup the Microsoft account
    - Setup the checks for PRs in github

[2018-09-12 17:52] cmckni3 commented on #386
I can help as well if InfiniteRed sets up the account.

[2018-09-13 21:10] jamonholmgren commented on #386
Nice ... @kevinvangelder , would you lead this from our end?

[2018-09-13 21:55] jamonholmgren commented on #384
I'll publish to NPM, yes.

@cmckni3 Do you think we're good to publish 2.0.0?

[2018-09-13 21:59] cmckni3 commented on #384
Can't really say since I haven't updated or used gluegun in awhile. Maybe do another beta, update ignite, and get community feedback?

[2018-09-13 22:31] kevinvangelder commented on #386
Azure Pipeline has been added to the project and I've added master branch protection with Semaphore. (We'll add Azure Pipeline once it's been configured).

[2018-09-15 20:13] jeremyepling commented on #384
I saw that you mentioned Azure Pipelines and I'm a product manager for it. Let me know if you try it and have any questions or suggestions.

[2018-09-15 20:33] cmckni3 commented on #384
@jeremyepling awesome! I have it setup but working on fixing integration tests on Windows

[2018-10-02 22:16] kaustavghosh06 commented on #384
@kavengagne This issue doesn't seem to have been solved completely with -> https://github.com/infinitered/gluegun/pull/385
Was a new version of gluegun published with the above-mentioned PR?

My code structure looks something like this:

cli-core/
  src/
      commands/
           push.js

plugin-1/
   commands/
       subcommand1/
           push.js

So when I run `<core-brand> push` , my cli-cor

[2018-10-02 22:52] kavengagne commented on #384
I should have some time to look at that issue soon.

[2018-10-05 17:42] cmckni3 commented on #384
@kaustavghosh06 a new version was not published to npm.

Apologies, this is tough for me to look into since I use Mac and Linux daily. I use my gaming computer with Windows to diagnose issues when I have time haha.

[2018-10-05 17:46] cmckni3 commented on #384
@jamonholmgren can you make a release for 2.0.0-beta.12?

[2018-10-05 17:47] cmckni3 opened #389 "Add documentation for system tools methods"
Document the methods in [this file](https://github.com/infinitered/gluegun/blob/master/src/toolbox/system-tools.ts). See [docs page](https://infinitered.github.io/gluegun/#/toolbox-system)

[2018-10-05 19:33] kaustavghosh06 commented on #384
@cmckni3 Would be great if we could get this published. Pretty critical for our CLI..its just crapping out on windows :/  -> https://github.com/aws-amplify/amplify-cli/issues/29

[2018-10-08 15:09] jamonholmgren commented on #384
@kaustavghosh06 @cmckni3 I'm working on it now!

[2018-10-08 15:17] jamonholmgren commented on #384
![image](https://user-images.githubusercontent.com/1479215/46617797-89e18000-cad2-11e8-8c3f-d4df853c4ee1.png)

beta 12 published! @kaustavghosh06 if this works for you I'm going to cut a 2.0.0 release.

[2018-11-01 18:05] jamonholmgren commented on #384
FYI we will be working some more on this soon to fix the remaining reported issues.

[2018-11-01 18:22] cmckni3 commented on #384
cool, I have a cli project coming up for a data pipeline that needs to work on Windows. Will probably go with gluegun and see how things go.

[2018-11-02 02:16] jamonholmgren commented on #384
@kaustavghosh06 I tried to replicate this issue, but it appears that every version of Gluegun since beta 7 works as I'd expect (it runs the plugin code). Is there a way for you to publish a minimal repro for me to clone down to my windows machine and try?

[2018-11-02 17:30] kaustavghosh06 commented on #384
@jamonholmgren  So the original issue mentioned in this issue is resolved with the subcommands getting invoked. Now there is a new issue which came up because of that change.
Let me try explaining this out here:

We have our amplify-cli package which is the core package containing the cli.js file with the build() function. Our core package structure looks something like this:

[code]

And then we

[2018-11-04 23:11] kaustavghosh06 commented on #384
@jamonholmgren Just validated the CLI with the latest version of Gluegun and the above-mentioned issue seems to have been mitigated 👯‍♂️

[2018-11-04 23:11] #384 closed

[2018-11-05 17:51] jamonholmgren commented on #384
@kaustavghosh06 Woo hoo! <3

[2018-11-11 22:17] jamonholmgren opened #391 "Improve plugin loading performance"
## Problem: slow startup when using lots of plugins

Per a discussion with some of the AWS Amplify folks, startup performance when using lots of plugins can be quite slow. They report 3-9 second startup times. This obviously won't work very well.

## Why it's happening

We are [eager-loading](https://github.com/infinitered/gluegun/blob/daf37d09f7524f6d99ae8ec2e38050ebd531b798/src/loaders/plugin-lo

[2018-11-22 00:31] rmevans9 commented on #391
I haven't used Gluegun at the same level that AWS has but I have used the plugin feature for a small internal CLI. I do rely on the ability to put root level commands in a plugin so I would say that is a pretty hard restriction to justify. My initial thoughts after reading the problem statement were pretty close to your first option. It will still have to parse a file for each plugin but if it is

[2018-11-28 02:04] yordis commented on #287
@jamonholmgren I would add as part of this improvement the TypeScript definitions to the output.

Even when you are using the JavaScript version, by adding the TypeScript spec some editors could give you an analysis of `gluegun` dependency.

Also, disable `removeComments` from the `tsconfig` since that will remove the inline documentation of the code.

Coming from Elixir, I would love to see npm p

[2018-11-29 20:44] wgottschalk opened #393 "Better typescript support for dependencies"
I'm going through the tutorial online and I'm not sure if this is a typescript thing or a gluegun thing. What I would like is to be able to define an extension:

[code]

AND I would like this object to show up in my typescript autocompletions. The closest thing I could think of was creating the interface above and doing some gymnastics but I feel that the typesystem could support this natively som

[2018-12-01 16:01] GantMan opened #394 "Ideal print"
It would be great if we could control the print with global configs.

Feature 1:  Configure printing which would allow a complete shut-off.  This would no-op all `print.` commands until it's turned back on.  This would allow CLIs to ignore things like this
![image](https://user-images.githubusercontent.com/997157/49330108-baccb700-f54f-11e8-9484-2bf617d53154.png)

Feature 2: Make the config a vect

[2018-12-07 00:47] jamonholmgren commented on #393
@wgottschalk Thanks for the issue, and apologies for how long it's taken me to respond. Here's an example that I think might help you understand how to structure your type:

https://github.com/infinitered/solidarity/blob/master/src/types.ts#L43

@GantMan might have additional thoughts.

[2018-12-07 01:12] GantMan commented on #393
Yup @wgottschalk - I would define a new type that fits your CLI bag of tricks, and start it off by extending what comes out of Gluegun.

This way you can define an interface that is explicit in definition of what should and should not exist.  This also keeps you way from every using `any`.

I like defining all my interfaces in a single file, this feels very similar to defining a JSON schema, and p

[2018-12-07 20:16] wgottschalk commented on #393
Got it. So I would define a `types.ts` file at my root and I could do something like:
[code]
and then I type everything as `MyApp` instead of `GluegunToolbox`.

Would this be worth adding to the docs somewhere? I wouldn't mind adding a paragraph or two in the tutorial.

[2018-12-07 23:14] infinitered-circleci commented on #359
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:14] infinitered-circleci commented on #350
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:14] infinitered-circleci commented on #344
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:14] infinitered-circleci commented on #332
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:14] infinitered-circleci commented on #311
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:14] infinitered-circleci commented on #261
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:14] infinitered-circleci commented on #315
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:15] infinitered-circleci commented on #317
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:15] infinitered-circleci commented on #316
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:15] infinitered-circleci commented on #310
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:15] infinitered-circleci commented on #306
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:15] infinitered-circleci commented on #148
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:15] infinitered-circleci commented on #276
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:15] infinitered-circleci commented on #243
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:15] infinitered-circleci commented on #277
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:15] infinitered-circleci commented on #248
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:15] infinitered-circleci commented on #18
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:15] infinitered-circleci commented on #290
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:15] infinitered-circleci commented on #271
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:15] infinitered-circleci commented on #260
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:15] infinitered-circleci commented on #247
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:15] infinitered-circleci commented on #250
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:16] infinitered-circleci commented on #235
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:16] infinitered-circleci commented on #197
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:16] infinitered-circleci commented on #211
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:16] infinitered-circleci commented on #214
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:16] infinitered-circleci commented on #107
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:16] infinitered-circleci commented on #60
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:16] infinitered-circleci commented on #295
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 23:16] infinitered-circleci commented on #208
:tada: This issue has been resolved in version 0.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v0.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-08 03:19] yordis opened #398 "Clarification on typespec"
Hey folks currently we have this https://github.com/infinitered/gluegun/blob/5cd228e7d98b02354b231e16a78a3260625e999e/src/domain/toolbox.ts#L26

Which it means `options` could be `undefined | Options`.

Are you sure this is the correct type?

I am adding `!` everywhere so the compiler stop complaining about the type.

I read from that object all the time even when I didn't pass any options to the

[2018-12-09 03:14] jamonholmgren commented on #398
I don't think it should be undefined, since it would just be empty object. Let's make that required.

![image](https://user-images.githubusercontent.com/1479215/49693015-7deb5c00-fb1d-11e8-97d3-c3e8fc6c28e8.png)

[2018-12-10 19:33] yordis commented on #398
Working on it, a lot of changes on test files since they hardcoded `parameters` 😢

[2018-12-12 05:27] yordis opened #401 "Commands fails when definition files are preset"
Here is the case

I would have the following files

[code]

For some reason here
https://github.com/infinitered/gluegun/blob/e30b03f0292ab52124a1076952126456655c6459/src/loaders/module-loader.ts#L13-L14 Node is actually requiring the `.d.ts` file instead of the JavaScript file. 🤷‍♂️

`Node version: v10.10.0`

[2018-12-12 16:55] DanielMSchmidt opened #402 "Allow to load additional configuration"
Hi there,

First of all, thank you for putting so much effort into this tooling.

I have the use-case that I want to load configuration at invocation time (ideally with cosmicconfig from the package.json of the directory where it's invoked). I wonder if we could extend the API of gluegun to allow something like this:

[code]

Am I overlooking a possibility to do this with gluegun? I would like to

[2018-12-17 05:15] jamonholmgren commented on #402
Hey @DanielMSchmidt, you're very welcome, thanks for using it!

You're right, there isn't a way to do what you're saying there. I think that would be a good idea. In keeping with the API standards, perhaps we could use `.config(process.cwd())`.

[2018-12-17 05:16] jamonholmgren commented on #393
@wgottschalk Yeah, sounds like a great idea! Would you mind PRing that?

[2018-12-17 06:12] jamonholmgren commented on #402
The config part of Gluegun needs a bit more work, to be honest. We should be exporting any plugin config defaults in the `toolbox.config` property, but we don't.

We set the config for the default plugin:

https://github.com/infinitered/gluegun/blob/master/src/runtime/runtime.ts#L144

But then we don't do anything with it for subsequent plugins:

https://github.com/infinitered/gluegun/blob/master/

[2018-12-17 22:18] markusguenther opened #404 "Update the dependencies in generated default package"
The dependencies in the package.json.ejs file are really outdated and should be adjusted to save the step of upgrading everything first.

[2018-12-17 23:17] #404 closed

[2018-12-18 08:19] markusguenther opened #406 "Use jest instead of Ava in CLI template"
I know that ignite used Ava in the past and obviously gluegun also used it in the past.
Probably this should also be adjusted to jest. Gluegun it self uses jest at the moment, so why the generated package should base on ava.

[2018-12-18 08:52] markusguenther opened #408 "Usage of commitizen"
Hi,

I am a fan of commitizen. A tool for making it easy to follow the commit message guidelines of a project. Each project has a different rule how commit messages should look like and when you're using automations like semantic-release you should have the correct commit message scheme on each commit. Because this is a point of failure for the versioning.

When a project uses commitizen you don't

[2018-12-18 21:31] #406 closed

[2018-12-19 17:39] jamonholmgren commented on #408
@markusguenther I'll look into commitizen! Keep in mind we always "Squash and merge" PRs on this project, so we always customize the commit messages to fit our formatting requirements. So it's not that important to follow our commit guidelines perfectly (I don't, when I'm committing, because I know I can fix it when merging.)

[2018-12-19 17:40] #382 closed

[2018-12-19 17:50] markusguenther commented on #408
Ah ok. But then you loose the history for bigger changes and get monster commits.

For smaller changes like mine it is a easy thing but I guess it can be an issue when you have a dev that commits are well sized chunks with good commit messages. It would be totally helpful to keep such commits because the developer sometimes choose commits wisely ;)

But in the end the project owner decides. I thin

[2018-12-19 17:51] markusguenther commented on #408
Btw if you don’t find a commit message Standard you like, you can also define your own ;)

[2018-12-20 18:19] StarpTech opened #416 "How to write tests?"
Hi,
I'm looking for an easy way to write tests for gluegun commands which access the toolbox (file system, process...)

[2018-12-20 18:54] mikeerickson opened #417 "Dead link in the documentation"
There is a link in the docs which points to your Movie CLI example

https://infinitered.github.io/gluegun/#/?id=welcome-to-gluegun

points to

https://github.com/infinitered/tutorial-movie

[2018-12-20 19:10] cmckni3 commented on #417
Looks it was under @jamonholmgren's account as [gluegun-movies-demo](https://github.com/jamonholmgren/gluegun-movies-demo). It's a bit outdated though

[2018-12-20 19:13] cmckni3 commented on #417
I suggest moving it to infinitered/gluegun-movies-tutorial or similar. Then refreshing it with 2.0 changes of gluegun.

Thoughts @jamonholmgren

[2018-12-20 23:11] kevinvangelder commented on #417
This was resolved this morning. Thanks for reporting!

[2018-12-20 23:11] #417 closed

[2018-12-21 03:18] lednhatkhanh commented on #416
I'm also look for a way how to test promt commands

[2018-12-21 04:10] cmckni3 commented on #401
are you running your cli via `node` or `ts-node`? `ts-node` does some weird things with requires.

I tried out a sample directory without gluegun or a gluegun cli with `run.js`, `run.ts`, `build.ts`, and `build.d.ts`. `run.{js,ts}` each have the same code that does a `require('./build')`. `node run.js` returns the correct output but `ts-node run.ts` does not. `ts-node run.ts` does a require of the

[2018-12-21 05:51] yordis commented on #401
@cmckni3 does work using `ts-node` but once I use the compiled version (`node`) it doesn't work

[2018-12-21 06:50] cmckni3 commented on #401
I’ll have to check tomorrow. I think I meant `build.js` and `build.d.ts`

[2018-12-21 15:56] kyleect commented on #416
I'm looking in to this now as well. I'll post any thing I find out.

[2018-12-21 16:11] StarpTech commented on #416
I'm talking about all features which `gluegun` provides

e.g `toolbox` isn't exposed in the API and I don't want to mock `require` statements or mocking in general. It should exist a consistent and simple api to test prompts, filesystem etc this is really important. The projects was designed to create big cli applications but that's impossible with a proper test setup.

[2018-12-21 16:39] StarpTech commented on #416
I'm not talking about the stability of gluegun itself but about my commands which are composed of them. How can I guarantee that my super command works when I can't or when it's a hassle for every new developer to write simple tests? It would awesome if it could be possible to provide in memory adapters for Filesystem, prompts, process... which abstract the interface of toolbox feature x. Mocking

[2018-12-21 19:33] RichiCoder1 opened #418 "Typescript Inconsistencies"
Was referred to this (excellent) library by a coworker and ran into a few small issues while building out a typescript.

Biggest one was passing `GluegunCommand` a generic paramter with a customized `Toolbox` (for inbox helpers, etc) results in losing typings on all the `Gluegun` in-built helpers as the exported `Toolbox` type which you'd inherit from has a quirk that kills all types for the imple

[2018-12-22 22:15] mikeerickson opened #422 "Simple Movie example has typescript errors"
Going through the simple movie demo as outlined, but it fails to compile stating the API_MESSAGE is declared but never used.

Might one suggest that you review the simple example as outlined in the docs and make sure it works for other newbs.  Especially for those who are new to TypeScript.

[2018-12-22 22:15] mikeerickson commented on #422
Here is an example (running in test watch mode)

[code]

[2018-12-22 23:44] mikeerickson commented on #422
This has been fixed by recent PR https://github.com/infinitered/gluegun/pull/421

[2018-12-22 23:44] #422 closed

[2018-12-23 01:28] greenkeeper[bot] opened #424 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2018-12-23 01:29] greenkeeper[bot] opened #425 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2018-12-23 02:02] #418 closed

[2018-12-23 02:11] mikeerickson opened #427 "Displaying command specific help"
Does any interface exist to display command specific help?

[2018-12-23 02:21] infinitered-circleci commented on #418
:tada: This issue has been resolved in version 2.0.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v2.0.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-23 02:45] jamonholmgren commented on #427
@mikeerickson Hm, good question. Right now, no, but that's something we should add.

Something like:

[code]

... should display help for all commands under `./src/commands/imdb/`.

For now, you can check it in your root command:

[code]

There is already a built-in capability to do this here:

https://github.com/infinitered/gluegun/blob/663972d05a01cb83852a39486a6f5f97abf7ad5b/src/toolbox/meta-to

[2018-12-23 02:49] #424 closed

[2018-12-23 02:49] #425 closed

[2018-12-23 02:53] jamonholmgren commented on #416
Hey @StarpTech , apologies for the late response here. I've been focused on some other things.

We do need better testing documentation. I am a big believer in integration tests where possible (especially for CLIs!) and so new Gluegun CLIs now come with an integration test built-in. This is new, as of #409.

Here's an example of this generated integration test:

[code]

I'll make it a priority to

[2018-12-23 02:58] jamonholmgren commented on #401
@yordis Did #420 fix your issue here? Or, rather, would it have, if it had been there when you started using Gluegun?

[2018-12-23 03:01] jamonholmgren commented on #398
This is actually a duplicate of #378, so I will close it and we will track it over there. :)

[2018-12-23 03:01] #398 closed

[2018-12-23 03:01] yordis commented on #401
@jamonholmgren the issue is actually happening on the released version of the package ... I need to replicate it again since I just pull out the `.d.ts` out of the released version.

This makes no-sense unless `ts-node` is present, let me dig in, maybe was me being stupid 😄

[2018-12-23 03:02] yordis commented on #378
I tried to fix it and pretty much fix the types everywhere and the testing.

I can give it a try again.

[2018-12-23 03:13] jamonholmgren commented on #418
I would love having a better generated typescript boilerplate. Good work on this!

[2018-12-23 03:50] yordis opened #429 "API design questions"
I see that you could do

[code]

To be honest, I haven't used this style at all, I prefer to import these things from `gluegun` itself.

[code]

I don't know why this API decision was made and I am pretty sure you have your reasons to do so, but I am curious about this.

Especially that the type systems love static analysis and dealing with runtime mutations are really hard to maintain in terms of

[2018-12-23 08:07] BoyWithSilverWings opened #430 "gitignore file lists lock files"
The [.gitignore](https://github.com/infinitered/gluegun/blob/master/src/cli/templates/cli/.gitignore.ejs#L6) file lists down `package.lock.json` and `yarn.lock.json`.

As shown in the npm docs, this is a file that should be committed.

Is there a reason for this?

[2018-12-23 11:33] StarpTech commented on #416
Hi @jamonholmgren

Me too but it's not easy to provide simple and reliable helpers for all the tools (axios, filesystem, process, prompts) and different OS without to provide some builtins. I would like have a combination of both, something like this.

[code]

[2018-12-24 19:43] httpiago opened #431 "It's possible to configure a custom template renderer?"
Let's say I wanted to use [boring](https://github.com/mjstahl/boring) instead of ejs

[2018-12-27 05:46] #378 closed

[2018-12-27 05:49] infinitered-circleci commented on #378
:tada: This issue has been resolved in version 2.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v2.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-28 01:35] jamonholmgren commented on #429
@yordis Thanks for the question! Steve Kellock made that decision early on and isn't involved with the project anymore, so I'm not privy to his reasons. I do know that using the provided toolbox is helpful because you can easily create a fake toolbox for testing reasons. But either way is acceptable to do -- use what you prefer. Note that you can also use them directly, like this:

[code]

[2018-12-28 01:36] #429 closed

[2018-12-28 01:40] jamonholmgren commented on #431
Hey @httpiago! Yeah, that's definitely possible to do. I would create your own extension and manipulate the toolbox, like this:

[code]

Look at the [current implementation](https://github.com/infinitered/gluegun/blob/da07b53ab8dfb08b23c5c89fb94e3688ebdd9c11/src/core-extensions/template-extension.ts) for ideas, if you want.

[2018-12-28 01:40] #431 closed

[2018-12-28 01:41] jamonholmgren commented on #430
Hey @BoyWithSilverWings ! You're right, we should commit one of those files. Since we use Yarn at Infinite Red, I'd prefer that.

Would you want to submit a PR to fix the .gitignore?

[2018-12-28 02:19] yordis commented on #429
@jamonholmgren why would you encourage people to use `extensions` then?

It makes things confusing and hard, the only tradeoff is saving extra imports 😄

Interesting.

[2018-12-28 09:00] jamonholmgren commented on #416
Great idea @StarpTech. Perhaps we could expose those utilities at `require('gluegun/test')` or something, to allow for easy access.

[2018-12-29 21:54] jamonholmgren commented on #429
@yordis I like extensions, myself, but you don't have to use them. For example, AWS Amplify CLI uses them like this: https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-cli/src/extensions/amplify.js

[2018-12-29 22:43] #430 closed

[2018-12-29 22:44] #391 closed

[2018-12-29 23:01] infinitered-circleci commented on #430
:tada: This issue has been resolved in version 2.0.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v2.0.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-29 23:01] infinitered-circleci commented on #391
:tada: This issue has been resolved in version 2.0.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v2.0.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-30 08:00] yordis commented on #429
I get that, that is why I like the idea of mutating the context but without doing that much magic. What I dislike from the current implementation is that everything is explicit and introduces too many questions.

The rabbit hole on this is expecting **other plugins** to mutate your context so you can use specific functionality. If people are not disciplined, this could become an issue.

If you fin

[2018-12-31 21:30] RichiCoder1 commented on #427
Being able to print what arguments a command expects would be nice too. Should I make that a separate ticket?

[2018-12-31 21:30] djheru opened #439 "Error: template not found"
I've just installed gluegun using `yarn global add gluegun` which installed version 2.0.5. Then I attempted to follow along with the "Making a movie CLI" tutorial by running `gluegun new movie --typescript`, which threw the following error:

[code]

This is on mac running node 8.12

[2018-12-31 21:34] djheru commented on #439
As an FYI, I uninstalled and re-installed `gluegun@next`. It installed 2.0.0, and I did not receive the same error when generating a new cli project

[2019-01-01 01:50] mikeerickson commented on #427
I think these two Items go hand in hand, definitely something that should be supported together. Same ticket, or separate but both should be supported.

[2019-01-01 21:00] abstractFlo opened #440 "Scope Package"
Hey guys, there is a problem while loading plugins from scoped packages. Is there a solution for this scenario?

Kind Regards

[2019-01-01 22:44] jthegedus commented on #440
I tried this and it doesn't appear to work

[code]

Parcel-bundler matches scoped plugin packages but it uses a different matching tool. `const pattern = /^(@.*\/)?parcel-plugin-.+/;` For reference: https://github.com/parcel-bundler/parcel/blob/060db2e2c56f08e223e9a9075035f0998e249763/packages/core/parcel-bundler/src/Bundler.js#L206

If someone finds a working matching pattern, please share!

[2019-01-02 19:17] mikeerickson commented on #427
@RichiCoder1 @jamonholmgren

Back from holiday, figured I would chime in some more on this topic.

I have created CLIs internally using some homegrown libraries and one of the important features is the ability to show command specific help, including support for command attributes

This is how command specific help appears:

![image](https://user-images.githubusercontent.com/183153/50607861-967e36

[2019-01-02 19:17] jamonholmgren commented on #439
I've replicated the issue; working on a fix. Not sure how this got through CI!

[2019-01-02 19:17] mlaco commented on #440
I have identified why scoped packages aren't being found. On [this line](https://github.com/infinitered/gluegun/blob/master/src/toolbox/filesystem-tools.ts#L64), `recursive` is set to `false`, so `jetpack` isn't looking in lower directories. (I changed this to `true` and my scoped commands appeared.

I shouldn't change this to `true` though, that will cause unexpected behavior. I'll need to think

[2019-01-02 19:18] mikeerickson commented on #427
And for completeness sake, here is what the default help looks like (I am thinking of creating a plugin for gluegun to show this as default as opposed to current help)  Or, I could just create a simple function for help interface to use

![image](https://user-images.githubusercontent.com/183153/50608018-13111480-0e80-11e9-8069-faa8005fcf51.png)

[2019-01-02 19:30] tmadison-gpsw opened #441 "Update enquirer version to use new types"
Getting this error when trying to use enquirer select/multiselect type.

`Error: prompt type "select" is not registered` or
`Error: prompt type "multiselect" is not registered`

I believe these are available in 2.0, currently using 1.0.3

[2019-01-02 20:36] jamonholmgren commented on #439
Fixed in 2.0.7 (2.0.6 was an aborted attempt).

https://github.com/infinitered/gluegun/releases/tag/v2.0.7

Thanks for reporting @djheru !

[2019-01-02 20:36] #439 closed

[2019-01-02 20:38] jamonholmgren commented on #440
I really like the idea of printing out what directories are checked.

[2019-01-02 20:55] jamonholmgren commented on #440
@abstractFlo and @jthegedus , is it a limited number of scopes or any arbitrary scoped package? For example, you could do this:

[code]

To support any arbitrary scoped package, though, we'll need to build something into Gluegun.

[2019-01-02 21:00] jamonholmgren commented on #440
I do like Parcel's discoverability through the package.json `devDependencies` and `dependencies`. We could easily support that same thing, perhaps with something like:

[code]

This would search dependencies and devDependencies and use a similar mechanism to Parcel to load up the plugins that match.

Any thoughts on this?

[2019-01-02 21:08] jamonholmgren commented on #441
Hey @tmadison-gpsw ! I tried upgrading to enquirer 2.0 but unfortunately this is a nontrivial task, since they significantly broke backwards compatibility. If you want to try doing it I'd be very appreciative. In the meantime, you can use `checkbox` and `radio` to essentially do the same thing.

[2019-01-02 21:10] jamonholmgren commented on #427
I really love that @mikeerickson. Any help you can provide is greatly appreciated, as I'm focusing on some other aspects of Gluegun at the moment.

[2019-01-02 21:10] tmadison-gpsw commented on #441
Ok, thanks for the heads up. I will try using `checkbox` and/or `radio`. Closing for now.

[2019-01-02 21:10] #441 closed

[2019-01-02 21:17] abstractFlo commented on #440
@jamonholmgren i have a bunch of scoped packages. I write a foundation for all of our services with vuejs. I will let our developers the freedom to create a package with own commands. I think it is the best way for an modular system. The option with recusive: true is a good point. I think it would be nice if we can set the parameter as an option for the plugins method.

[2019-01-02 21:18] jthegedus commented on #440
@jamonholmgren In this instance I want the same plugin discoverability as Parcel. I want users of my base tool to be able to compose other peoples plugins. So I need support for arbitrary scopes. A solution looking at `package.json` deps and devDeps will allow this without the headaches that recursively traversing `node_modules` creates (as @mlaco mentions)

[2019-01-02 23:05] mlaco commented on #440
@jthegedus You have the right idea, but check out [fs-jetpack's matching patterns](https://github.com/szwacz/fs-jetpack#matching-patterns) to see the exact way to use `matching`.

[2019-01-02 23:42] mikeerickson opened #442 "Plugin Samples or Documentation"
Looking for samples or documentation for creating gluegun plugins. I perused all the information on GitHub repo,  it didn’t have any docs for plugins.

[2019-01-02 23:42] jthegedus commented on #440
I truly tried before posting here. I spent hours going between gluegun, fs-jetpack and minimatch docs, source code and many different variations of patterns, none of which gave me the same result as the Parcel regex.

I eliminated it being an issue with my plugin by adding it directly as such:

[code]

and so now am at the point where I have not been able to get the

[code]

method to work at all

[2019-01-02 23:46] mikeerickson commented on #427
I will surely add the necessary code to provide this functionality.  Would you like me to implement similar UI to what I have shown above.

I was going to create a new plugin for personal use, but if you are keen to having this UI in core, I would prefer to do it there as well.

[2019-01-03 00:18] jamonholmgren commented on #442
Hey @mikeerickson, was this tutorial not useful to you?

[Tutorial: Making a Plugin](https://github.com/infinitered/gluegun/blob/master/docs/tutorial-making-a-plugin.md)

If not, what do you think we could do to improve it? I'd love to hear feedback.

[2019-01-03 00:21] jamonholmgren commented on #440
@jthegedus Can you do:

[code]

... for now?

[2019-01-03 00:30] mikeerickson commented on #427
@jamonholmgren sounds good, I have already started the "Getting to know the source" process. I will do the primary help interface, then move onto the command help.

I am reviewing the cli.integration.ts tests right now.

[2019-01-03 00:31] jamonholmgren commented on #427
Feel free to join the #gluegun channel in http://community.infinite.red Slack to chat about this in realtime, Mike.

[2019-01-03 00:39] mikeerickson commented on #442
@jamonholmgren Yep, just found this about 15 minutes ago ;-)  I will peruse this information and let you know if I have any questions/comments.

FYI, we were just talking over break about our direction for our internal CLI framework (aka Ignition) and what we should do moving forward.  Either continue with adding the features we wanted, or move to something like "gluegun" and contribute there with

[2019-01-03 00:39] mikeerickson commented on #427
@jamonholmgren I have already joined :-)

[2019-01-03 00:47] jamonholmgren commented on #442
That is fantastic! I know how big of a decision that is, to stop working on something that you've put blood sweat and tears into, and move to someone else's framework. I'm honored you've decided to try Gluegun and really happy to work with you all. Let me know if there's anything you get blocked on and let's see if there's a way to make it as smooth as possible.

[2019-01-03 00:47] #442 closed

[2019-01-03 02:35] mikeerickson commented on #427
@jamonholmgren OK, first pass is done (prettify the main cli help)   I have not fixed the tests yet, but wanted to share this with you. There will be a few more tweaks (ie adding the Usage section, not sure how that is going to be implemented just yet)

![image](https://user-images.githubusercontent.com/183153/50621791-1f679280-0ebd-11e9-8865-839149fab6bb.png)

[2019-01-03 02:38] RichiCoder1 commented on #427
Looks awesome! Bit late, but let me know if yah need any help.

[2019-01-03 02:46] mikeerickson commented on #427
@RichiCoder1 So far, so good.  Getting up to speed with the source code is the longest part, but that is going swimmingly.

One question, do you have place where you store application wide constants?  I am sure I could track it down, but since you are here :-)

[2019-01-03 02:48] RichiCoder1 commented on #427
I'm as a novice to the code base as you :). But from what I've seen so far, constants have been kept close to the most relevant place they're used. So `colors` in `print-tools`, plugin defaults with `plugin-loader`, etc. Current @jamonholmgren?

[2019-01-03 21:22] jthegedus commented on #440
@jamonholmgren This will be sufficient for testing my own plugins, but not for others to build and use their own. My use of gluegun is a novel tool, not some critical business use case like aws/amplify or anything, it's just for fun. I didn't mean to sound like this was urgent, it's just a pain-point.

[2019-01-04 01:07] mikeerickson commented on #427
@jamonholmgren Here are my proposed changes to the command object.  I have only added `flags` property to the command object (if it is not supplied, it will operate as normal).   Let me know if there are any other properites you might need on the `flags` property

[code]

[2019-01-04 01:13] jamonholmgren commented on #440
I do too, this is something we should add.

[2019-01-04 01:18] jamonholmgren commented on #427
It looks awesome.

Minor nit: would you need to put `shoe` in the `alias` list if it's already the name of the flag? Perhaps just any aliases that aren't the name of the flag.

Also, you may want `dashed: true|false` as an option, since some flags might be `--shoe=Adidas` or `-s Adidas` (accessible in `toolbox.parameters.options['shoe'] || toolbox.parameters.options['s']`).

[2019-01-04 01:32] mikeerickson commented on #427
@jamonholmgren Are the CLI arguments available on the `toolbox` object anywhere?  Just thinking ahead as to how the user will access these arguments, or will I need to add code for that as well.

[2019-01-07 01:36] jthegedus commented on #287
Instead of shipping Rollup by itself to all gluegun CLI creators, might I suggest using https://github.com/developit/microbundle, or something like it, to reduce the burden of users to configure Rollup?

[2019-01-07 01:37] jthegedus commented on #361
See my suggestion here https://github.com/infinitered/gluegun/issues/287#issuecomment-451796986

[2019-01-07 02:17] mikeerickson commented on #361
I will take on this task after wrapping up the command help interface.  Was working on it this weekend, but had some family issues to deal with (our family lab is quite sick ans not looking good)

[2019-01-08 17:47] yordis commented on #401
@jamonholmgren confirmed, this behavior is happening. I will try to put an example project for you.

[2019-01-11 19:30] jamonholmgren commented on #427
@mikeerickson Apologies, I've been out of town. I'm not sure what you're asking, to be honest -- there is [toolbox.parameters](https://github.com/infinitered/gluegun/blob/master/docs/toolbox-parameters.md), is that what you're looking for?

[2019-01-11 19:51] jamonholmgren commented on #361
@mikeerickson I'm so sorry to hear that. I hope it recovers.

[2019-01-11 20:13] mikeerickson commented on #361
Unfortunately, we had to put him down Monday morning. Been a somber house this week, he was a huge part of my life and I am broken hearted, such an amazing best friend.

[2019-01-11 20:48] jamonholmgren commented on #361
:cry: I'm so sorry Mike. I lost my dog when I was 20, rough time.

[2019-01-11 20:49] jamonholmgren commented on #361
Regarding this issue, we can actually close it due to #444 implementing a TypeScript build process.

[2019-01-11 20:49] #361 closed

[2019-01-11 20:49] jamonholmgren commented on #402
Partially fixed by #433.

[2019-01-11 20:52] jamonholmgren commented on #287
`microbundle` looks really cool @jthegedus. I'd definitely consider it.

[2019-01-14 01:41] RichiCoder1 commented on #340
I actually do. Basically:
* We want to ship a default config out of band from local nat accessible services. It be nice to either load this or warn the user their current config is out of date before a command runs.
* General outdated checks.

There was another use cases I though of, but forgot.

It looks like it'd be a simple change, would you take a PR?

[2019-01-15 06:01] jamonholmgren commented on #340
I really like the idea of `is-outdated` being built in to Gluegun. Perhaps on `toolbox.meta.outdated()` as an async function?

Regarding your use case, I can see how that would be helpful. Since it won't break backwards compatibility, I'm open to it. ref #449

[2019-01-15 16:14] RichiCoder1 commented on #340
Indeed! I like it. Though it might also be good to have it on `builder` too.
Something like:
[code]

Probably worth it's own issue.

[2019-01-24 14:35] yordis commented on #401
@cmckni3 @jamonholmgren you could fork https://github.com/straw-hat-team/fetcher and downgrade to `"@straw-hat/cli": "0.10.1"` since that version has declarations on it.

Run `yarn release` and notice that it will fail.

[2019-01-26 04:09] danludwig opened #451 "How to use typescript in gluegun cli, but still ship it for running on node?"
Is the only way to do it to have a build process that compiles the ts to js and then ships the js as the cli root (when someone does a `npm i -g` of the cli)? I can't get past the "unexpected token" errors when importing and exporting interfaces.

[2019-01-26 19:49] lvlrSajjad opened #452 "Using Template Directly from toolbox"
Hey guys
I just wanted to use some of toolbox components directly in my electron.js project
So i installed gluegun this way :
`npm i gluegun --save`
Then tried to use template like this :
`import {template} from 'gluegun'`
`template.generate( ....
`
It seems we can not use template this way
But also it seems we have a possible solution related to this line
https://github.com/infinitered/gluegun/bl

[2019-01-28 20:53] jamonholmgren commented on #451
Hey @danludwig ! We have a build process built-in to the generated Gluegun CLI that you can run with `yarn build`. If you want it to generate TS types, add this to your `tsconfig.json`:

[code]

and this to your `package.json`:

[code]

Then add a `src/types.ts` file that you export all your public-facing types from.

I may add this to our generated TypeScript CLI, actually.

[2019-01-29 19:24] jamonholmgren commented on #401
@yordis I'm not sure I'll have time to tackle this soon. Would you want to see if you can figure out a solution?

[2019-02-06 23:53] cogoo opened #455 "Typescript starter fails test"
Hey!

Starting a new project with TypeScript has some issues.

- The initial tests don't pass. This is due to some inconsistencies with the initial generate command. It's looking for a `model.js.ejs` template, but the actual template is `model.ts.ejs`.

- When you build the project, the `model.ts.ejs` file doesnt get compiled to a js file.

How can we fix this for the JS build, as we have to refer

[2019-02-06 23:54] cogoo commented on #455
Would love to submit a PR for this if I can be pointed in the right direction

[2019-02-07 09:49] cogoo opened #456 "Kitchen sink example in docs not working"
https://infinitered.github.io/gluegun/#/toolbox-prompt?id=kitchen-sink-example

Issue arises from the `prompt.ask` method. When you pass in an object with type select, the type is not recognised, even though this type is valid when you use enquirer directly

[2019-02-17 11:09] sw-yx opened #457 "Which Language Would You Like to Use? prompt should not accept invalid input"
Currently running gluegun shows this:
![image](https://user-images.githubusercontent.com/6764957/52912079-7c8e8c00-3250-11e9-8f42-2d7d2b31de78.png)

and when i type "Typescript" instead of "TypeScript" it runs a JS build instead.

expected behavior: it should allow us to pick from a limited set of options instead of relying on user entry.

i looked around the issues and couldnt believe nobody's ra

[2019-02-17 11:28] sw-yx opened #459 "[Docs?] system.run is an async function but strings.trim is sync"
The docs have this bit of code: https://infinitered.github.io/gluegun/#/?id=quick-start

[code]

which typescript catches as invalid:

![image](https://user-images.githubusercontent.com/6764957/52912269-3e469c00-3253-11e9-8dc5-c2f563cdb729.png)

is the docs out of date?

[2019-02-22 17:25] GantMan opened #460 "importing types failing"
In Solidarity I'm using Gluegun 3.0 in a branch.  I'm unable to bring in types where you use `import`

This results in the following 2 lines in `filesyste-types.d.ts` causing a typescript compile error.

![image](https://user-images.githubusercontent.com/997157/53259280-5162cd00-3694-11e9-84f9-288c68f58ca4.png)

Once this is fixed, I can move solidarity to 3.0 and it can go back to canary testing.

[2019-03-05 00:24] jamonholmgren commented on #460
@GantMan I'm having trouble replicating this. Your `fix_tests` branch seems to be building no problem.

![image](https://user-images.githubusercontent.com/1479215/53772085-f7cf7f00-3e99-11e9-9f57-76d989669dde.png)

[2019-03-05 00:52] jamonholmgren commented on #459
@sw-yx Yessir, out of date docs. We need an `await` in there! I'll mark this as a beginner issue.

[code]

[2019-03-05 00:54] jamonholmgren commented on #457
This is strange, it's supposed to display a language picker here! Marked as a bug so we can look into this.

[2019-03-05 00:55] jamonholmgren commented on #456
@cogoo Is that the right link? I'm not understanding the relationship to your issue. 😅

[2019-03-05 00:56] jamonholmgren commented on #455
Hey @cogoo ! Apologies for how long this has taken me to respond to.

I'd love some help with this. I'm a little behind on Gluegun and working hard to catch up.

[2019-03-05 00:59] cogoo commented on #456
Updated the link in the comment

[2019-03-05 01:03] cogoo commented on #455
Thats fine, your hard work already on Gluegun is appreciated.

Will try and help on this issue, do you have any insight to share that could help with this

[2019-03-05 09:56] rdewolff commented on #457
This does not work at all for me.

[2019-03-05 09:59] rdewolff opened #462 "Error : Which Language Would You Like to Use? no working answer found"
Hello

Just installed and tried the version, but as soon as I try to run `gluegun` and I have to choose the language, I get errors.

Tried the following :

[code]

[code]

[code]

What's going on ?

[2019-03-05 10:17] rdewolff commented on #457
added an issue to track the global error : https://github.com/infinitered/gluegun/issues/462

[2019-03-05 13:11] yordis commented on #161
I would no recommend Wiston package due to the lack of maintains. This is a good alternative https://github.com/pinojs/pino

[2019-03-05 20:43] RichiCoder1 opened #463 "Easy way to handle cleanup on user initiated premature termination"
I'm not sure of the API shape of this, but it would be nice for gluegun to expose a way either through the toolbox (like https://developer.mozilla.org/en-US/docs/Web/API/AbortController) or in the command definition to have a "cleanup" command that would be run on `SIGINT` or other user initiated polite terminations. Basically to allow any quick cleanup that might be necessary.

[2019-03-05 21:10] jamonholmgren commented on #463
Excellent idea. I'd love to hear other's ideas on it.

[2019-03-05 21:12] jamonholmgren commented on #462
Probably related to @sw-yx's PR #458? Want to take a crack at fixing this, @rdewolff ?

[2019-03-05 21:12] jamonholmgren commented on #460
Going to close for now; feel free to re-open if it's still an issue.

[2019-03-05 21:12] #460 closed

[2019-03-05 22:33] RichiCoder1 commented on #463
I think the right API might be to change
[code]
Where `AbortToken` is:
[code]

And run and/or runtime handles wiring up the approriate events.
[code]

with a command being able to do:
[code]

[2019-03-07 07:07] #462 closed

[2019-03-07 07:10] infinitered-circleci commented on #462
:tada: This issue has been resolved in version 3.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v3.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-07 07:12] jamonholmgren commented on #463
I'm not super keen on changing the `run` function signature. I'd rather hang it on the toolbox itself. Perhaps on `meta`.

Something like:

[code]

[2019-03-07 07:17] jamonholmgren commented on #457
Fixed in #465.

[2019-03-07 07:17] #457 closed

[2019-03-07 07:18] jamonholmgren commented on #455
I'd have to look into it a bit, but is it just a matter of changing the js to ts in the generator script?

[2019-03-07 07:19] jamonholmgren commented on #456
Thanks @cogoo ! Looks like we need to fix the `select` type.

[2019-03-07 09:57] cogoo commented on #456
Thanks @jamonholmgren, I can look into this.

[2019-03-07 10:12] cogoo commented on #455
That would be part one. Will also need the TS Compiler to compile the `model.ts.ejs` file to `model.js.ejs`

[2019-03-16 18:12] akintoluvic commented on #459
I'd like to take this issue. I'll look for the documentation, but it would be helpful if you can point me to the right file.

[2019-03-16 18:19] jamonholmgren commented on #459
@akintoluvic Cool! So, in this case, it's actually in two places:

The [readme.md](https://github.com/infinitered/gluegun/blob/master/readme.md)

and the other [readme](https://github.com/infinitered/gluegun/blob/master/docs/README.md)

Unfortunately, because of the [documentation website]( https://infinitered.github.io/gluegun/), we have to have two copies of the readme file.

So, what I would do

[2019-03-16 18:21] jamonholmgren commented on #459
Additionally, take a look at the [contributing guide](https://github.com/infinitered/gluegun/blob/master/docs/contributing.md) which might help you get started.

[2019-03-17 03:31] #459 closed

[2019-03-17 23:44] jamonholmgren commented on #455
I see, yeah, that seems doable but just needs someone to take the task on.

[2019-03-23 14:42] cogoo commented on #456
It seems like the docs is using the api for Enquirer 3.x, but a few paragraphs above you have this

So we can change the kitchen sink example to use the correct types where applicable or allow the full api of enquirer through gluegun?

[2019-03-23 14:47] cogoo commented on #455
Looked into this, unfortunately the TS compiler doesn't accept "custom" extensions, in this case '.ejs'. An alternative could be in the npm build script, we copy the template folder into the output directory

[2019-03-28 07:41] nyrosmith opened #496 "Allow scoped names for project names"
Currently it is not possible to create a CLI with npm scope like '@myorg/my-cli'.
I am suggesting using https://www.npmjs.com/package/validate-npm-package-name as it gives meaningfull error messages out of the box.

@jamonholmgren I'd be happy to provide a PR if you want me to fix this

[2019-03-28 18:27] jamonholmgren commented on #496
@nyrosmith I think your idea is great. I'd love a PR!

[2019-04-24 19:59] snowfrogdev opened #509 "`build` script doesn't copy templates directory and files to build folder"
So I have used the gluegun cli to create a new cli project and built myself an nice little cli. It works just fine on my machine in dev mode. But when I published it to npm and installed it globally on my other machine, I noticed a problem with the templates. It would give me a template not found error.

 I went back to look at what was generated in the build folder when running the `build` script

[2019-04-25 07:53] jamonholmgren commented on #509
@snowfrogdev Ah, interesting! (Thanks for using Gluegun btw.) I'm at React Finland right now, but will take a look at this soon. In the meantime, if you find a way to fix it, a PR would be awesome.

[2019-04-25 18:08] snowfrogdev commented on #441
I also had the same problem. The examples in Gluegun's docs are using `select` and `multiselect`, it's misleading and it would be better if it only showed types that work.

[2019-05-05 21:49] jamonholmgren commented on #456
Should be fixed in #507 (cc @cogoo) and Gluegun 3.2.1.

[2019-05-05 21:49] #456 closed

[2019-05-05 21:50] jamonholmgren commented on #455
Possibly related to #509.

[2019-05-05 21:50] jamonholmgren commented on #441
Should be fixed in #507.

[2019-05-06 21:48] jamonholmgren opened #515 "New toolbox tools: toolbox.package"
In Ignite, we often have to check if `yarn` or `npm` are installed and run the proper command.

It would be great to have a single API to run either of those:

[code]

This would use `yarn` if available, `npm` if not, and you could pass in `packageManager: 'npm'` to force one or the other.

Even just `add` and `remove` would be super helpful.

This would also be useful for when Yarn [releases thei

[2019-05-12 22:03] MichelDiz opened #519 "Add a possibility to load multiple files and/with wildcards."
e.g:
`filesystem.read('./*','json')`
`filesystem.read('./*.json','json')`

I would like to be able to load multiple chunks in JSON and another format and work them in a unique way.

Cheers.

[2019-05-12 22:17] MichelDiz commented on #519
Just notice that I can use
`toolbox.filesystem.find(`./`, { matching: './*.json' })`
and create a func for it.

[2019-05-12 22:17] #519 closed

[2019-05-18 18:37] #386 closed

[2019-05-31 18:05] infinitered-circleci commented on #386
:tada: This issue has been resolved in version 3.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v3.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-05 17:02] jamonholmgren commented on #509
I've created a pull request on your repo to fix this issue @snowfrogdev. I'll also update the Gluegun template. 👍

[2019-06-05 17:34] #509 closed

[2019-06-13 17:15] infinitered-circleci commented on #509
:tada: This issue has been resolved in version 3.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v3.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-14 06:14] jamonholmgren opened #558 "Add Vts to README"
Need to add https://github.com/snowfrogdev/Vts to the README.

[2019-07-24 07:17] yordis opened #562 "Yarn V2"

[2019-07-24 07:18] yordis commented on #562
Open discussion about incoming Yarn features and how we could utilize in gluegun.

@jamonholmgren I think you can modify the descript of the issue, my goal is to fill up the description with potential ideas that we can come up with around Yarn 2.

I am particularly interested in installing things on demand.

[2019-07-27 04:06] ductiletoaster commented on #393
I've been build out a workflow CLI for my company and ran into an issue with some of the typings. In retrospect I probably should have created a new ticket but I created this PR to help solve my issue.
https://github.com/infinitered/gluegun/pull/564

I apologies again for hijacking this thread. Please let me know if you'd like me to create a new ticket.

[2019-07-29 23:36] yordis commented on #451
Related to https://github.com/infinitered/gluegun/issues/401

[2019-07-29 23:37] yordis commented on #451
I think this could be related to https://github.com/infinitered/gluegun/issues/401

[2019-07-30 04:20] #393 closed

[2019-07-30 04:24] infinitered-circleci commented on #393
:tada: This issue has been resolved in version 3.3.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v3.3.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-01 19:29] JeffBeltran commented on #455
Hello, just wanted to comment that im running into same issue but it looks almost like it's intermittent(i swore it worked once). Still playing around with this atm but following the guide i get the same error but only when i TS starter.

[2019-08-04 15:22] elie222 opened #570 "ejs include doesn't work"
Been playing around with the package, but ejs `include` doesn't seem to work.

Error:

[code]

[2019-08-06 20:08] blkmutt opened #573 "loadConfig Documentation Parameters Reversed"
In the documentation (https://github.com/infinitered/gluegun/blob/master/docs/toolbox-config.md), parameters appear to be reversed for loadConfig. The samples appear to be as follows:

`const myConfig = loadConfig(process.cwd(), brand)`

Looking at src/loaders/config-loader.ts, it appears as though the function call is looking for name and then directory.

`/**
 * Loads the config for the app via

[2019-08-17 13:40] joebochill opened #581 "checkForUpdates is not a function"
I'm reading through the tutorials, and so far i'm really liking the tool, but I ran into a snag trying to get ```checkForUpdates``` (https://infinitered.github.io/gluegun/#/runtime?id=checkforupdates) to work.

Typescript complains that 'checkForUpdates does not exist on type Builder' and sure enough, a global search of the gluegun node_modules folder reveals that it's not defined anywhere in the

[2019-08-22 05:48] kaihaase opened #584 "printCommands in interface GluegunPrint is missing the optional paramater"
The definition of printCommands in GluegunPrint interface is wrong:

src/toolbox/print-types.ts
[code]

It should be:

src/toolbox/print-types.ts
[code]

[2019-08-29 17:59] geovanneoliveira commented on #570
@elie222 I have the same problem!

` Could not find the include file "def.ejs"
    at getIncludePath (/home/geovanne/Documentos/SmartLabs/knot/node_modules/ejs/lib/ejs.js:165:13)`

[2019-08-30 14:55] jonatanlins commented on #570
I'm having this problem too

[2019-08-31 20:54] #570 closed

[2019-08-31 21:07] jamonholmgren commented on #570
Fixed by #587 and will be released shortly!

[2019-08-31 21:09] jamonholmgren commented on #573
Hey @blkmutt let's update the documentation -- thank you so much for catching this! I'd probably prefer how it's documented but we've already had it out in the wild with the other order for a while, so we'd better keep it to reduce annoyance/bugs on upgrading.

[2019-08-31 21:12] jamonholmgren commented on #581
Hey @joebochill ! Sorry about the delay.

It is defined here: https://github.com/infinitered/gluegun/blob/2160bb47515ec85ff273ba14d2523e893614c4d8/src/domain/builder.ts#L153-L156

Maybe check your Gluegun version? It was added [in 3.3.0](https://github.com/infinitered/gluegun/pull/531).

[2019-08-31 21:13] jamonholmgren commented on #581
Wait, you said your version is 3.3.3. That's very odd.

[2019-08-31 21:16] jamonholmgren commented on #581
I added Gluegun and it does seem to be in the build?

![image](https://user-images.githubusercontent.com/1479215/64069198-da396300-cbf9-11e9-8ffc-eb11e9c728ca.png)

[2019-08-31 21:17] jamonholmgren commented on #581
I'm also seeing it in TypeScript:

![image](https://user-images.githubusercontent.com/1479215/64069212-1bca0e00-cbfa-11e9-86c1-4e7509a1a5d8.png)

[2019-08-31 21:26] infinitered-circleci commented on #570
:tada: This issue has been resolved in version 3.3.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v3.3.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-06 10:29] joebochill commented on #581
I figured out why it's not there... I have the gluegun CLI installed globally @3.3.3, but when I use it to create a project, it's using ^2.1.0 (for JavaScript and TypeScript projects). I'm not sure if that's intended and I'm just meant to update it in my project, or if that's a bug in the CLI.

[2019-09-20 19:20] danawoodman commented on #427
Is this dead? Is there any way to auto-document `toolbox.parameters.options`?

[2019-09-24 19:12] jamonholmgren commented on #427
@danawoodman Currently I don't have plans to add it (we haven't needed it for our CLIs yet), but if you have any ideas, I'm happy to review!

[2019-09-24 19:28] jamonholmgren commented on #581
@joebochill Yikes, that's a bug for sure. Would you mind submitting a PR?

[2019-09-25 23:20] jamonholmgren commented on #416
FYI, here's an article I wrote that is helpful: https://shift.infinite.red/integration-testing-interactive-clis-93af3cc0d56f

[2019-09-28 00:16] joebochill commented on #581
I'm on it. Should be able to have something tomorrow.

[2019-09-28 01:22] #581 closed

[2019-09-28 01:27] infinitered-circleci commented on #581
:tada: This issue has been resolved in version 3.3.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v3.3.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-28 18:44] danawoodman commented on #427
@jamonholmgren I don't mind the proposals discussed here. Some way of passing in a definition of the options/flags that the given command supports then those are automatically documented/validated before hand. I find I'm writing a LOT of extra code to do this instead of Gluegun doing which I would hope.

Thinking out-loud:
[code]

[2019-09-29 06:25] MarceloBritoWD opened #608 "How to debug using vscode debugger?"
It has a way to debug my cli using vscode or something like that? I didn't find any information about it.

[2019-09-29 12:40] kaihaase opened #609 "Spin prevents the termination of the CLI"
Since version 4.0.0, the CLI is no longer terminated when a `toolbox.print.spin` is used. Even if the spinner was terminated via `stop()`, `succeed()` or `fail()`.

Example:
[code]

[2019-09-30 03:35] Aaron-K-T-Berry commented on #363
I can pick this up 🙂

[2019-09-30 16:00] jamonholmgren commented on #363
Yay @Aaron-K-T-Berry !

[2019-09-30 17:59] jamonholmgren opened #610 "Rename context to toolbox in remaining places"
There are still a few places where we're using `context` instead of `toolbox`. (ref #350). Rename those to `toolbox` for consistency.

Good first PR for someone!

[2019-09-30 18:06] rthomas29 commented on #610
Hey can I grab this one?

[2019-09-30 18:11] jamonholmgren commented on #427
I like this. We could possibly use `yargs` for this. It's currently only a devDependency, though -- we're using `yargs-parser` in production which has [some of this capability](https://github.com/yargs/yargs-parser#requireyargs-parserargs-opts) but not all.

yargs has a pretty full featured capability:

https://github.com/yargs/yargs/blob/HEAD/docs/api.md

Perhaps see if we want to bring in all of

[2019-09-30 18:19] jamonholmgren commented on #609
Hey @kaihaase! I'm not seeing this issue. Seems to be working for me? What version of Node?

![issue-609](https://user-images.githubusercontent.com/1479215/65904836-1afcd700-e374-11e9-9547-baafa362b0da.gif)

[2019-09-30 18:23] jamonholmgren commented on #608
Hi @MarceloBritoWD!

I should write up a debugging guide, that's a great idea.

Is there something in particular you're having trouble debugging?

[2019-09-30 18:25] OLAOSEBIKAN commented on #610
Can i help with this

[2019-09-30 18:27] jamonholmgren opened #611 "Add `./src/types.ts` to generated TypeScript CLI"
Per #451, for TypeScript generated CLIs, I'd like to add a `./src/types.ts` file that you export your public-facing types from, plus these:

tsconfig.json:

[code]

package.json:

[code]

[2019-09-30 18:28] jamonholmgren commented on #451
Tracking the idea of generating public types automatically in #611.

[2019-09-30 18:28] #451 closed

[2019-09-30 18:29] jamonholmgren commented on #610
@OLAOSEBIKAN Looks like @rthomas29 is going to tackle this, but feel free to look at other issues and see what you can find that you might want to work on!

[2019-09-30 18:31] OLAOSEBIKAN commented on #610
Have a good one @rthomas29

[2019-09-30 18:35] sishubjoshi commented on #558
I would like to do it.

[2019-09-30 18:48] MarceloBritoWD commented on #608
Hi @jamonholmgren, thank you for answering me.

I already solve the problem and was a bug that I had created, but I missed a way to debug my cli app, so basically found the solution with `console.log` haha

[2019-09-30 21:31] kaihaase commented on #609
Hey @jamonholmgren. Thank you for your quick analysis. I'm sorry, you're absolutely right. The error seems to occur only in a particular constellation. I haven't been able to figure out exactly what it is yet. However, I can reproduce it in an example repository: https://github.com/kaihaase/gluegun-spinner-bug.

Run example CLI and choose "test" in CLI menu:
[code]
If you execute 'test' directly v

[2019-09-30 23:31] jamonholmgren commented on #608
`console.log` works pretty well, to be honest. I also like `toolbox.print.debug()` which is built in to Gluegun's toolbox.

I'll work on this when I'm back from my Florida conference.

[2019-09-30 23:58] jamonholmgren commented on #609
Got it, thanks @kaihaase, and thanks for your detailed report. If you find an underlying issue with Gluegun I'm super happy to review a PR or provide guidance!.

[2019-09-30 23:58] #609 closed

[2019-10-01 00:00] jamonholmgren commented on #609
Also, interesting way to use Gluegun, there!

[2019-10-01 04:31] kaihaase commented on #609
@jamonholmgren We love gluegun and have started with [our own CLI](https://github.com/lenneTech/cli), which makes our daily work much easier. There will probably be a few more CLIs to follow, so we built a [CLI starter](https://github.com/lenneTech/cli-starter) right away. We found a "menu" helpful, so we [outsourced it as a plugin](https://github.com/lenneTech/cli-plugin-helper). There it is call

[2019-10-02 07:06] kaihaase commented on #584
@amartincastro I'm sorry, it's my fault. It should be
[code]

[2019-10-03 00:38] danawoodman commented on #427
@jamonholmgren yeah, to me a few kb is fine esp since my CLI has to bundle the whole of Node so it already is bloated haha

Maybe the support is optional? Might be confusing though.

A way to be able to define typed options and have the CLI output help for them would be killer

[2019-10-03 15:02] jamonholmgren commented on #609
That's awesome!! We need to get this stuff in our README and other relevant documentation.

Can you add a GIF to the README of the menu plugin that shows how it works?

[2019-10-03 22:28] kaihaase commented on #609
@jamonholmgren The menu used to be part of a help package. So that you can use it independently, I have created a new package: [Gluegun Menu](https://github.com/lenneTech/gluegun-menu). I extended the [README](https://github.com/lenneTech/gluegun-menu/blob/master/README.md) and added a [GIF](https://github.com/lenneTech/gluegun-menu/blob/master/assets/demo.gif) that shows the menu in action. It wo

[2019-10-05 15:01] Aaron-K-T-Berry commented on #363
#614 has been closed so I think this issue can be closed now 👍

[2019-10-05 15:52] #363 closed

[2019-10-06 13:32] JessWallin commented on #611
Hey! Put up a PR for this. Let me know if this is what you're looking for, I'm happy to revise.

[2019-10-06 13:34] JessWallin commented on #362
Added the .exclude in the PR above. It looks like the .brand had been added there already, but I'm happy to make any other tweaks if you need.

[2019-10-08 07:55] yordis opened #627 "Extract toolbox"
As today,

Gluegun had done an amazing job, I couldn't love more the toolbox object and have everything handy without worry about putting together so many tools.

But, when it comes to the commands I would like to use https://github.com/oclif/oclif

Could we split extract gluegun out to an independent package?

I found myself literally copying almost everything from gluegun and I wouldn't like to

[2019-10-08 21:23] jamonholmgren commented on #627
You can already! Just do this:

[code]

[code]

Or you can import them from each individual place:

[code]

Might be a good thing to document better somewhere.

[2019-10-08 21:50] yordis commented on #627
True true 🤦🏻‍♂️

Let me think about this, ideally, the other pieces of the software don't affect me ... hopefully.

[2019-10-16 02:10] #362 closed

[2019-10-16 02:31] jamonholmgren commented on #609
@kaihaase I added it to the readme: https://github.com/infinitered/gluegun#community-clis-and-plugins

Many thanks!

[2019-10-16 02:35] infinitered-circleci commented on #362
:tada: This issue has been resolved in version 4.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v4.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-28 12:32] ceelsoin opened #649 "Error: Command failed: sleep 2"
Hi, my gluegun cli application has stopping after build with error message: `Error: Command failed: sleep 2` but in development works fine.

This code quote is:

``` await run('sleep 2') ```

[2019-10-29 17:00] jamonholmgren commented on #649
@ceelsoin Is there any way you can provide a minimal repro? Not much to go off of here. <3

[2019-11-07 14:50] joe307bad opened #662 "Parameter validation"
Hey there, I am building a CLI tool with Gluegun and I was wondering if there is any best practice around validating parameters. Right now I am implementing something like this:
[code]
And `validator` is a function that loops through the given `validators` and produces a collection of errors to display to the user.

Questions:
- Should I build an extension for this?
- Is there any built in paramet

[2019-11-07 17:49] jamonholmgren commented on #627
@yordis Would you want to help document this?

[2019-11-07 19:09] yordis commented on #627
@jamonholmgren could you assign it to me so I have it in my todo tasks from GitHub? Otherwise, I will forget about this

[2019-11-08 19:34] jamonholmgren commented on #662
Hey @joe307bad, I appreciate you asking! This has been a somewhat common feature request and we don't have anything built-in. There is this PR (#464) which has some context. Check that and see what you might be willing to work on!

[2019-11-08 22:51] SgiobairOg opened #664 "GluegunParameters Import Conflicts with Local Definition"
## Details
- Version: 4.0.1
- Typescript

## Issue
CLI Builds fail with the following typescript error:

[code]

On inspection it looks like there was an intent to move the declaration of 'GluegunParameters' into another file and then import the definitions from 'toolbox' this seems to be the case with other definitions. It looks like that move didn't happen though and the toolbox is importing 'Gl

[2019-11-12 13:19] cmburcus commented on #664
I have the same issue :(

[2019-11-12 20:51] mike-morr commented on #664
Anyone find a workaround for this?

[2019-11-12 21:12] cmburcus commented on #664
@mike-morr I tried building from the latest version all the way down to version 3.3.3 in typescript with the same error. The only way it works is if you're not using typescript.

I hope this will be fixed soon but it seems odd that it would have gone unnoticed by the devs which makes me thing there's something else going on...

[2019-11-13 23:15] mike-morr commented on #664
@jamonholmgren from what I can tell this is fixed in master.  Any chance we can get this released.  It currently is completely broken for TypeScript.  It won't even build the out of the box template.

[2019-11-18 21:32] jamonholmgren commented on #664
Hey everyone, sorry, I've been out of town. I'll get a new version deployed very soon. This is a problem which was uncovered by the latest TypeScript and fixed in this commit: bbb5a25bf1939685b9adba21df2c2dd90220eb42

[2019-11-18 22:41] SgiobairOg commented on #664
No problem at all. Thanks!

[2019-11-18 22:44] jamonholmgren commented on #664
:tada: This issue is fixed in version 4.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v4.1.1)

[2019-11-18 22:44] #664 closed

[2019-11-19 20:31] #649 closed

[2019-11-21 18:25] cmburcus commented on #664
@jamonholmgren thank you very much!!! :)

[2019-11-21 19:12] cmburcus opened #679 "Question: Upgrading gluegun from v2 to v4"
Hi,

First and foremost, thank you for all the amazing work done! I am loving everything about this tool!

I started playing around with gluegun a while back when it was in version 2. Back then there was no option for typescript. I want to upgrade my version to the latest (4.1.1) and I wanted to know if there is some sort of guide to do so?

I know in theory it shouldn't be that hard but I'm tryin

[2019-11-21 22:37] jamonholmgren commented on #679
Hey @cmburcus! Thanks so much for the kind words, you made my day. 😀

You should be able to upgrade to 4.1.2 without much in the way of problems. Give it a go and see what happens. Gluegun 1-2 was a bigger change than 2-4.

3.0 changelog: https://github.com/infinitered/gluegun/releases/tag/v3.0.0
4.0 changelog: https://github.com/infinitered/gluegun/releases/tag/v4.0.0

If you want to enable TypeS

[2019-11-25 17:53] cmburcus commented on #679
Thank you for your answer @jamonholmgren ! I'll give it a go :) I'll re-post if I need any help. Really excited to start using typescript with gluegun!

[2019-11-25 17:53] #679 closed

[2019-12-12 10:32] thephilgray opened #691 "Fix `multiple` option in ArrayPromptOptions (prompt-enquirer-types)"
TS throws an error when you use the option with the correct spelling.

The option exists but is misspelled.

`multiple` not `muliple`

https://github.com/infinitered/gluegun/blob/d401cb38f3c04978ca62f9f8fad146b5c5114023/src/toolbox/prompt-enquirer-types.ts#L43

[2020-01-30 17:58] renovate[bot] opened #713 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

File: `renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Invalid schedule: `Failed to parse schedule "12th of every month"``

[2020-02-28 20:19] EmmanuelDemey commented on #558
I thinks this change has been merged to master. This issue can be closed.

[2020-03-05 22:18] kevinvangelder opened #715 "Type Errors"
Using gluegun 4.2.0 I get the following errors trying to build my project:

[code]

[2020-03-22 05:42] eugeneduvenage commented on #715
I ran across this same issue recently, it turned out to be a simple typings mismatch, I was running the lts node series v12.16.1 but I had installed @node/types from the 13.x.x series. I updated my package.json to specify version 12.12.30 of @types/node and the problem went away.

[2020-04-30 03:13] #691 closed

[2020-04-30 03:15] #515 closed

[2020-04-30 03:20] infinitered-circleci commented on #691
:tada: This issue has been resolved in version 4.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun/v/4.3.0)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v4.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-30 03:20] infinitered-circleci commented on #515
:tada: This issue has been resolved in version 4.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun/v/4.3.0)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v4.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-30 17:37] jamonholmgren commented on #627
I think this is documented well enough for now, so I'm closing this.

[2020-04-30 17:37] #627 closed

[2020-05-10 01:29] adriancmiranda opened #720 "Form doesn't return result when skip property is used"
Hey, guys!
I'm trying to make a form with a `skip` option, but the result is always an empty object when I use this property. I'm not sure about this issue should be opened here or at [enquirer](http://npmjs.com/package/enquirer) repo.

[code]

returns

[code]

should returns

[code]

I'm using OSX 10.15.3, node v10.16.2 and npm 6.14.5

[2020-06-13 22:42] jamonholmgren commented on #720
@adriancmiranda Any way you can dig into this and see why it's happening? The relevant code is here:

https://github.com/infinitered/gluegun/blob/f5d7bdb1aef0e082a2fbccdfb7a14bc5cf7a4f1e/src/toolbox/prompt-tools.ts#L34-L51

[2020-07-09 04:12] HurricaneInteractive commented on #427
I managed to get a "auto-generated" help command to work without modifying Gluegun or adding `yargs`. I will say though, it is quite basic and doesn't support typed options. Another thing is, you have to run a function at the start of each command in order to capture the `--help, -h` flag.

I have created a [gist](https://gist.github.com/HurricaneInteractive/a4808bf2f2fca507271a5a465899e7ae) (usin

[2020-08-24 08:54] Faizahmadfaiz opened #724 "support for passing style option to print.table"
Hey guys, I want to print a table in which I want some of my column cells to be right aligned. Going through **cli-table3** (which is used by gluegun) examples, I found this
[code]
Currently in table function I can see we can pass only **data: string[][], options: GluegunPrintTableOptions = {}** .It seems to me currently I can't achive my goal of making cells right aligned.

[2020-09-02 22:07] jasnkwcz commented on #610
Is this still being worked on? I'd like to take a crack at it if nobody is still working on it.

[2020-09-09 18:20] jamonholmgren commented on #724
@Faizahmadfaiz I'd accept a PR that adds it to `GluegunPrintTableOptions`!

[2020-10-13 01:03] ZebraFlesh opened #725 "Vulnerability in yargs-parser"
yargs-parser 16.1.0 has a prototype pollution vulnerability: https://snyk.io/vuln/SNYK-JS-YARGSPARSER-560381 This is fixed in 18.1.1 and later.

[2020-10-14 20:51] blake-mealey opened #726 "New colors theme method and improved colors theme docs"
Hey, a couple of quick suggestions I'm happy to submit a PR for if you're interested:

1. Add a new colors theme method `command` which points to `magenta`

I like to use a distinct and consistent color when telling the user they can use another command to help with something (e.g. from my CLI `` `This action requires a logged in user. Run ${magenta(`${brand} login`)} to log in.` ``). Currently th

[2020-10-17 23:43] jamonholmgren commented on #715
Thanks @eugeneduvenage , just ran into this myself.

[2020-10-31 14:04] adriancmiranda commented on #720
Oh, tks @jamonholmgren!

Gluegun is fine, I was testing the enquirer:

[code]

I'm getting the same result. I'm closing this issue here. Tks again! 👍🏼

[2020-10-31 14:07] adriancmiranda commented on #720
Oh, tks @jamonholmgren!

Gluegun is fine! I was testing the [enquirer](http://npmjs.com/package/enquirer):

[code]

I'm getting the same result. I'm closing this issue here. Tks again! 👍🏼

[2020-10-31 14:07] #720 closed

[2020-12-17 22:30] blake-mealey opened #728 "If a plugin is installed globally, will it be picked up?"
I'm considering using plugins to extend functionality of my Gluegun CLI, but it seems like the intended use case is for a user to install both my CLI and my plugin into a package, then run the local CLI. However that doesn't make sense for my CLI which is intended to be installed globally. If I install the CLI and plugin globally, will the plugin be picked up? I can't find the answer in your docs.

[2021-01-01 17:10] kyleect commented on #715
I'm currently running in to this same issue. Versions:

- gluegun `4.5.0`
- node `14.15.3`
- @types/node `14.14.17`

I tried using node `14.14.0` thinking there was a types version mismatch but same error.

[2021-01-16 13:18] markfirmware opened #730 "quick start running program - not found"
using gitpod ... following quick start ... typescript and name is ingest ... ingest does not work

    gitpod /workspace/test33/ingest $ yarn link
    yarn link v1.22.10
    success Registered "ingest".
    info You can now run `yarn link "ingest"` in the projects where you want to use this package and it will be used instead.
    Done in 0.04s.
     gitpod /workspace/test33/ingest $ ingest
    ba

[2021-01-16 19:00] kathawala commented on #726
Just submitted a PR which does what I think you want (instead of `command`, I just named it `highlight`). Hope it helps :+1:

[2021-01-16 21:15] blake-mealey commented on #726
@kathawala not quite what I was after. I can already access the `highlight` color from the print.colors object. I would like a new color called `command` which is an alias for `magenta`. I also don't want it to print the full line that color, so I'd still want it to be part of the colors object.

[2021-01-20 18:40] blake-mealey opened #732 "Please upgrade apisauce to fix npm audit on axios version"
gluegun currently depends on `apisauce ^1.0.1` which depends on a version of `axios` with the high severity vulnerability https://www.npmjs.com/advisories/1594. The latest version of apisauce depends on a version of `axios` without this vulnerability.

We would appreciate upgrading the dependency so that our npm audit scans do not give us these errors.

[2021-02-15 07:21] #732 closed

[2021-02-15 07:25] infinitered-circleci commented on #732
:tada: This issue has been resolved in version 4.6.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun/v/4.6.1)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v4.6.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-19 11:33] mmNalaka commented on #715
@kyleect I had the same issue when using "@types/node": "^14.x.x". Changing the `@types/node` version to "@types/node": "^12.7.11" resolved the issue.

[2021-04-07 06:42] humarkx opened #735 "npx ignite-cli new PizzaApp --expo"
/opt/homebrew/lib/node_modules/ignite-cli/node_modules/gluegun/build/index.js:13
    throw up;
    ^
![image](https://user-images.githubusercontent.com/13049940/113822040-d3c78180-9774-11eb-9406-8172acde1a5a.png)

[2021-06-08 03:40] mwood23 commented on #735
Getting this for M1 Macbook. Ignite doctor:

[code]

[2021-07-09 02:26] mfreeman-xtivia opened #737 "Not Working on Windows"
Followed the basic instructions "npx gluegun new movies", then "cd movies" and "yarn build". Receive errors:

[code]

[2021-07-26 17:07] KaiSpencer opened #738 "Prompt single keypress"
I am looking to build a CLI with an initial interface similar to that of Jest in watch mode, how might it be possible to prompt for input where the input is simply a keypress.

[2021-08-10 07:37] paimon0715 opened #739 "posibility of a 4.6.2 release with less strict ejs version dependency"
Hi, @jamonholmgren, I'd like to report a vulnerability introduced by package **ejs@2.7.4**:
### Issue Description

   I noticed that a vulnerability is introduced in **_gluegun@4.6.1_**:
     Vulnerability **SNYK-JS-EJS-1049328** affects package **_ejs_** (versions:<3.1.6):  [https://snyk.io/vuln/SNYK-JS-EJS-1049328](https://snyk.io/vuln/SNYK-JS-EJS-1049328)
  The above vulnerable package is refer

[2021-08-11 09:22] #730 closed

[2021-08-24 05:40] pzrq commented on #725
Breaking changes don't look that bad, though I guess it can be hard to know for sure: https://github.com/yargs/yargs-parser/blob/main/CHANGELOG.md

[2021-09-15 18:05] phhoef commented on #608
Hi @jamonholmgren,

may I ask, if you found the time to write some docs about debugging?
I am struggling to get the debugger work properly.

I've started a new project following your docs by issuing `npx gluegun new movies`.
I added a new command and I see it is called - everything fine so far.
Now, before I start writing real functionality, I tried to setup the debugger with VScode.

I added a la

[2021-09-16 00:28] cogwizzle commented on #728
This is a feature that I feel like I would like to have as well.

[2021-09-16 01:02] cogwizzle commented on #728
So after doing some digging this is actually currently possible.  It requires a bit of work.

Inside of the main cli file you will find a line that reads
[code]
This line is loading information from the local node_modules directory.  You repeat this function and then load from additional locations.  You can get your global node_modules location by running the following code.
[code]
Now that you ha

[2021-09-16 01:05] cogwizzle commented on #728
One quick note about my solution above is that it is a bit slow with figuring out the global node modules directory so there may be a faster way to do it.  It slightly slows down the start-up of your CLI.

[2021-09-25 08:17] Arman-AP commented on #737
Hi, you have to set proper environment. Are you using Git or power shell prompt? you should look into setting Cygin to get it working:

https://www.cygwin.com/

[2021-09-30 16:32] benhickson commented on #427
+1 interested to see how this develops! :)

[2021-10-31 08:41] VincentThomas06 commented on #715
I also have a typeerror but i dont know how to solve it:
[code]

[2021-12-05 01:56] mikenikles opened #740 "Typescript warnings because of `NodeJS.EventEmitter`"
I recently upgraded `@types/node` to `16.11.11` and started to notice the following two errors.

<details>
  <summary>Expand to see logs</summary>
  <pre>
gitpod /workspace/webstone/packages/cli $ pnpm prepublishOnly

../../node_modules/.pnpm/gluegun@4.7.0/node_modules/gluegun/build/types/toolbox/prompt-enquirer-types.d.ts:70:34 - error TS2689: Cannot extend an interface 'NodeJS.EventEmitter'. Did

[2021-12-08 19:28] jamonholmgren commented on #740
@mikenikles Do you know if we can just remove the `extends NodeJS.EventEmitter` or do we also need to add the `on()` method signature like the Commander folks did?

[2021-12-24 18:54] pikeas opened #743 "Parameter type incorrect"
`parameters.first` (and second/third/etc) has a type of string. However, there's a type conversion under the hood somewhere if I pass something that looks like a number. You can see this in action by logging `typeof  parameters.first`.

[2021-12-28 20:14] jamonholmgren commented on #743
Very interesting. I wonder if this is a `yargs-parser` issue or a Gluegun issue.

[2021-12-29 05:19] sawyerit commented on #608
For anyone else that comes across this, I was able to get debugging working by adding a call to the run() function at the end of the entry TS file (default generated file is _cli.ts_). The launch configurations program value should be the entry TS file (not the executable script in the bin folder).  In my case I also needed to accept user input from the terminal so I also added the console configu

[2022-01-07 17:53] fordN commented on #725
It's been AWHILE now. Any word on updating the vulnerable dependency?

[2022-01-10 09:51] Niraj-Kamdar opened #744 "Unable to import build module from gluegun"
# Steps to reproduce:
- create a new node project with gluegun installed
- create a simple js file that imports `build` from `gluegun`
- Run this file

## simple.js
[code]
## package.json
[code]

[2022-01-10 13:14] Niraj-Kamdar commented on #744
Nevermind it's due to this: https://www.bleepingcomputer.com/news/security/dev-corrupts-npm-libs-colors-and-faker-breaking-thousands-of-apps/

I would recommend downgrading the dependency `colors` to a sane version

[2022-01-11 08:55] mkucmus commented on #744
Great move! Thousands of projects wait for that fix! 💪🏻

[2022-01-13 05:02] chigia001 opened #747 "Remove aws-amplify from the 'Who Is Using This?' section"
I'm checking the aws-amplify repository to see how it apply gluegun but seem like all reference to gluegun is already removed in [aws](https://github.com/aws-amplify/amplify-cli/pull/2254/files) (except for some changelog and comment)

I think we should remove it to prevent confusion for next developer want to check for reference.

[2022-01-19 19:28] jamonholmgren opened #748 "CI integration tests should use local version of Gluegun"
In this integration test:

https://github.com/infinitered/gluegun/blob/952e816e266255de2c93b508a39123374d24e335/src/cli/cli.integration.ts#L27

...we're spinning up a new Gluegun-powered CLI to test it. The problem is, the new CLI is set to use `gluegun@latest`. We should really add the local version of Gluegun to this CLI in order to properly test that CLI against the current version of Gluegun b

[2022-01-19 19:34] jamonholmgren commented on #728
That's a pretty good solution, @cogwizzle. Biggest issue of course is the CLI startup time. Additionally, if they installed something globally using `yarn` or `pnpm`, that won't pick those up. It's a bit of a sticky problem given the nonstandard location of these global packages, so not something I have a great solution for at the moment.

[2022-01-19 19:35] jamonholmgren commented on #737
This will likely be fixed in #734.

[2022-01-19 19:38] jamonholmgren commented on #427
I realize this is an old issue, and not much progress has happened, but I do intend to work on it eventually. Perhaps a good option for hacking [on my Twitch stream](https://twitch.tv/jamonholmgren).

[2022-01-19 19:40] jamonholmgren commented on #608
Would definitely like to add more of this sort of guide to the docs. Thanks for the help @sawyerit.

[2022-01-19 19:48] jamonholmgren commented on #725
@fordN I haven't been paying close attention to gluegun for time constraint reasons, but now am back at it more regularly. I'll get a build pushed with yargs-parser updated today.

[2022-01-19 19:51] #737 closed

[2022-01-19 20:03] #744 closed

[2022-01-21 20:23] infinitered-circleci commented on #737
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun/v/5.0.0)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-21 20:23] infinitered-circleci commented on #744
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun/v/5.0.0)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-21 23:52] jamonholmgren commented on #748
Fixes in #741

[2022-01-21 23:53] #748 closed

[2022-01-24 21:23] #747 closed

[2022-01-31 23:05] ImmaZoni commented on #737
Im still having this issue on my system, verified version is the latest 5.0.0 release
(Let me know if im just missing something obvious 😄)

![image](https://user-images.githubusercontent.com/31865152/151887545-0bebb692-25eb-444b-8801-8ba7ee2d877f.png)

![image](https://user-images.githubusercontent.com/31865152/151887555-fc694450-954e-4323-94d9-692de84468cb.png)

[code]

[2022-01-31 23:16] ImmaZoni opened #751 "Windows still not working after 5.0.0"
Hello! First off, great project thank you for building out this wonderful utility!

I saw that this issue was mentioned here https://github.com/infinitered/gluegun/issues/737 and was closed and supposedly fixed win version 5.0.0. I am running version 5.0.0 and having trouble.

## System
Windows 10 - 10.0.19042
Node - 16.13.2
Gluegun - 5.0.0
![image](https://user-images.githubusercontent.com/318651

[2022-02-04 19:22] #463 closed

[2022-02-04 19:26] infinitered-circleci commented on #463
:tada: This issue has been resolved in version 5.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun/v/5.1.0)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v5.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-04 19:26] infinitered-circleci commented on #747
:tada: This issue has been resolved in version 5.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun/v/5.1.0)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v5.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-04 20:14] jamonholmgren commented on #751
@ImmaZoni Thanks so much for the kind words! Glad you're using Gluegun.

It looks like we're using `rm -rf` instead of `rimraf` on the generated CLIs. Just needs to be updated to that.

https://github.com/infinitered/gluegun/blob/fa720a853c98fa21a3ad2f3facf9efa5d528046e/src/cli/templates/cli/package.json.ejs#L14

Not sure about the original error, though.

[2022-02-04 20:18] ImmaZoni commented on #751
Thank you for the reply, I will give that a shot!

As for the other issue, im pretty sure it has to do with Yarn/NVM/Symlinks & of course Windows. (likely not a gluegun issue from my testing, feel free to disregard that portion)

[2022-02-09 22:47] imranMnts opened #753 "toolbox.prompt overwrites all items"
**Describe the bug**
`toolbox.prompt.ask` overwrites all items

**To Reproduce**

Issue :
[code]

the first time, we put `1` as name input, and `2` the second time

**Result**

print:
```result:  [ { name: '2', yesno: false }, { name: '2', yesno: false } ]```

**Expected behavior**
print:
```result:  [ { name: '1' }, { name: '2' } ]```

**Doctor (please complete the following information):**
 - OS

[2022-02-10 03:35] jamonholmgren commented on #753
@imranMnts Thanks for the bug report. Would you mind taking a shot at a PR?

[2022-02-10 03:36] jamonholmgren commented on #753
This would be a good opportunity for a regression test as well.

[2022-02-15 09:51] imranMnts commented on #753
@jamonholmgren I created this PR https://github.com/infinitered/gluegun/pull/754

can you please have a look?

[2022-02-26 01:25] jamonholmgren commented on #751
Awesome @ImmaZoni. Just let me know when you have a PR queued up on this.

[2022-03-04 10:34] imranMnts commented on #753
@jamonholmgren

Can we have an update, please?

[2022-03-12 17:10] ugur-eren commented on #753
I guess you can also use destructuring assignment to get the name as seen on the [docs](https://infinitered.github.io/gluegun/#/toolbox-prompt?id=ask), while waiting for Jamon's thoughts about this. So you would avoid passing the object reference to the array.

[code]
Or, if you're using `ask` with an array to ask many questions at once, you can use spread syntax to get all responses.

[code]

[2022-04-13 13:29] ElonVolo opened #756 "Temporary directory"
**Note that Gluegun is community-supported and the core team will not be adding new features other than those submitted as PRs by the community.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. Gluegun doesn't work very well when [...]

I think it would be useful for gluegun's filesystem  toolbox item to include funct

[2022-04-13 15:08] jamonholmgren commented on #756
Good idea. I’ll review and merge a PR to this effect!

[2022-04-18 22:09] ElonVolo commented on #756
It turns out the functionality should already be available in the most current fs-jetpack, it's just that the version of fs-jetpack is about two years old, and when I bumped up the version of fs-jetpack to 4.3.1 the API call appeared.

[2022-04-19 00:26] #756 closed

[2022-04-19 00:30] infinitered-circleci commented on #756
:tada: This issue has been resolved in version 5.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun/v/5.1.1)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v5.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-19 00:45] #753 closed

[2022-04-19 00:49] infinitered-circleci commented on #753
:tada: This issue has been resolved in version 5.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gluegun/v/5.1.2)
- [GitHub release](https://github.com/infinitered/gluegun/releases/tag/v5.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-19 22:59] ElonVolo commented on #608
@jamonholmgren Have you considered the possibility of generating a launch.json that's included with the project when its generated, so people wouldn't have to do any trial and error, hunting on the internet, or reading of docs?

[2022-04-29 15:44] Mashbourne1 opened #758 "Please update "ejs": Security vulnerability, template injection."
After running the npm audit, the report shows 2 high-security vulnerabilities for version 3.1.6 of ejs that gluegun depends on. It requires version ^3.1.7

npm audit report

ejs  <3.1.7
Severity: high
Template injection in ejs -[https://github.com/advisories/GHSA-phwq-j96m-2c2q]( https://github.com/advisories/GHSA-phwq-j96m-2c2q)
fix available via `npm audit fix --force`
Will install gluegun@0.0.1

[2022-05-08 06:23] Cogneter commented on #758
I second that. Please update gluegun's ejs dependency version to 3.1.7.

[2022-05-08 12:07] sidwebworks commented on #758
Hey folks, Any plans to merge the PR? its been a while

[2022-06-01 04:50] gleisonkz commented on #416
we have any news about this topic, is anyone have an idea on how to work with tests without writing on real file system?

[2022-06-06 16:00] ElonVolo opened #760 "Unit tests broken for newly created project"
**Describe the bug**

When I create a new gluegun project using the Typescdript option and then run ```npm test``` the tests break.

**To Reproduce**
Steps to reproduce the behavior:

1. Run the command ```gluegun new testapp```
2. Choose the option "_TypeScript - Gives you a build pipeline out of the box (default)_"
3. When the project has finished generated, cd to testapp
4. Run the command __np

[2022-06-06 16:26] ElonVolo commented on #760
One addition question I have is whether the addition typescript dependencies (e.g. Typescript) should be bumped up to their latest version (e.g. 4.7.3)?

[2022-08-04 12:19] montera82 commented on #730
how was this fixed? facing same issue!

[2022-08-10 17:35] joshuayoes opened #762 "Add a packager tool"
**Note that Gluegun is community-supported and the core team will not be adding new features other than those submitted as PRs by the community.**

**Is your feature request related to a problem? Please describe.**
Inside of ingite
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise descri

[2022-08-11 18:41] Mashbourne1 commented on #758
Hi folks, this high-security vulnerability still exists. Is it possible we can have the ejs dependency updated to 3.1.7 soon?

Please note that the pull request #759 made for it was closed without a release.

[2022-08-29 06:28] bennetthardwick commented on #758
Not sure why the original was closed but I've opened #764 to bump ejs to 3.1.8.

[2022-09-01 00:30] bennetthardwick commented on #760
The fix I've got up for the ejs version also seems to fix this: #764

[2022-09-18 06:58] Cahllagerfeld commented on #740
I think it's related to `@types/node` which still works when installing `v12.*`, but not anymore with the current version of the node-types from `v16.*`, right? @mikenikles

[2022-10-24 19:34] ZeroRaven23 opened #770 "Error: Not recognized as an internal or external command"
It's giving me this error every time I try to run the project as described, could you help me?

"movies is not recognized as an operable internal or external command program or script file"
![image](https://user-images.githubusercontent.com/79873070/197610429-61528e08-ac87-4122-8ef1-142de261aba1.png)

[2022-10-30 16:26] Willianwg opened #771 "Template not found"
**Describe the bug**
After installing my CLI in a project, i try to run the command generate, but i get the error "template not found (path of the template file)
I'm using the default Gluegun folder structure and didn't remove any core file. Only created a simple command an three templates.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a CLI that creates files with command generate